/* Wolfram Mathematica Classic stylesheet
* CSS version
*
* Created by Wolfram Mathematica 6.0. */

/* Notebook:*/
html {
  font-size: 12px;
  padding: 8px;
}
img {
  border: 0px;
}

/* Title:*/
.Title {
  font-size: 48px;
  text-align: center;
  line-height: 1.27083;
  padding: 8px;
  margin-left: 36px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.TitleInline {
  font-size: 48px;
  text-align: center;
  line-height: 1.27083;
}
/* Subtitle:*/
.Subtitle {
  font-size: 24px;
  font-style: italic;
  color: #C56643;
  text-align: center;
  padding: 8px;
  margin-left: 54px;
  margin-right: 25px;
  margin-top: 30px;
  margin-bottom: 2px;
}
.SubtitleInline {
  font-size: 24px;
  font-style: italic;
  color: #C56643;
  text-align: center;
}
/* Subsubtitle:*/
.Subsubtitle {
  font-size: 14px;
  font-style: italic;
  text-align: center;
  padding: 8px;
  margin-left: 54px;
  margin-right: 25px;
  margin-top: 10px;
  margin-bottom: 30px;
}
.SubsubtitleInline {
  font-size: 14px;
  font-style: italic;
  text-align: center;
}
/* Section:*/
.Section {
  font-size: 16px;
  font-weight: bold;
  color: #C56643;
  text-align: center;
  line-height: 1.5625;
  padding: 8px;
  margin-left: 54px;
  margin-right: 25px;
  margin-top: 30px;
  margin-bottom: 2px;
}
.SectionInline {
  font-size: 16px;
  font-weight: bold;
  color: #C56643;
  text-align: center;
  line-height: 1.5625;
}
/* Subsection:*/
.Subsection {
  font-weight: bold;
  padding: 8px;
  margin-left: 54px;
  margin-right: 25px;
  margin-top: 12px;
  margin-bottom: 2px;
  display: list-item;
  list-style-type: square;
}
.SubsectionInline {
  font-weight: bold;
}
/* Subsubsection:*/
.Subsubsection {
  font-style: italic;
  color: #C56643;
  padding: 8px;
  margin-left: 54px;
  margin-right: 25px;
  margin-top: 12px;
  margin-bottom: 2px;
}
.SubsubsectionInline {
  font-style: italic;
  color: #C56643;
}
/* Text:*/
.Text {
  text-align: justify;
  line-height: 1.25;
  padding: 8px;
  margin-left: 54px;
  margin-right: 25px;
  margin-top: 6px;
  margin-bottom: 6px;
}
.TextInline {
  text-align: justify;
  line-height: 1.25;
}
/* SmallText:*/
.SmallText {
  font-size: 10px;
  text-align: justify;
  line-height: 1.2;
  padding: 2px;
  margin-left: 72px;
  margin-right: 44px;
  margin-top: 6px;
  margin-bottom: 6px;
  border-left: 0px;
  border-right: 0px;
  border-top: 1px;
  border-bottom: 0px;
  border-style: solid;
  border-color: #000000;
}
.SmallTextInline {
  font-size: 10px;
  text-align: justify;
  line-height: 1.2;
}
/* Input:*/
.Input {
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  padding: 8px;
  margin-left: 72px;
  margin-right: 25px;
  margin-top: 12px;
  margin-bottom: 8px;
}
.InputInline {
  font-size: 12px;
  font-weight: bold;
  text-align: left;
}
/* Output:*/
.Output {
  font-size: 12px;
  text-align: left;
  padding: 8px;
  margin-left: 72px;
  margin-right: 25px;
  margin-top: 4px;
  margin-bottom: 12px;
}
.OutputInline {
  font-size: 12px;
  text-align: left;
}
/* Message:*/
.Message {
  font-size: 10px;
  font-family: Helvetica;
  font-style: oblique;
  padding: 8px;
  margin-left: 72px;
  margin-right: 25px;
  margin-top: 4px;
  margin-bottom: 12px;
  display: list-item;
  list-style-type: square;
}
.MessageInline {
  font-size: 10px;
  font-family: Helvetica;
  font-style: oblique;
}
/* Print:*/
.Print {
  text-align: left;
  padding: 8px;
  margin-left: 72px;
  margin-right: 25px;
  margin-top: 4px;
  margin-bottom: 12px;
}
.PrintInline {
  text-align: left;
}
/* Graphics:*/
.Graphics {
  font-size: 10px;
  padding: 8px;
  margin-left: 72px;
  margin-right: 25px;
  margin-top: 4px;
  margin-bottom: 12px;
}
.GraphicsInline {
  font-size: 10px;
}
/* CellLabel:*/
.CellLabel {
  font-size: 10px;
  font-style: italic;
  color: #8D3B50;
  margin-top: 0px;
  margin-bottom: 0px;
}
/* RM:*/
.RM {
  font-style: normal;
  font-weight: normal;
  padding: 8px;
}
.RMInline {
  font-style: normal;
  font-weight: normal;
}
/* BF:*/
.BF {
  font-weight: bold;
  padding: 8px;
}
.BFInline {
  font-weight: bold;
}
/* IT:*/
.IT {
  font-style: italic;
  padding: 8px;
}
.ITInline {
  font-style: italic;
}
/* TR:*/
.TR {
  font-family: Times;
  font-style: normal;
  font-weight: normal;
  padding: 8px;
}
.TRInline {
  font-family: Times;
  font-style: normal;
  font-weight: normal;
}
/* TI:*/
.TI {
  font-family: Times;
  font-style: italic;
  font-weight: normal;
  padding: 8px;
}
.TIInline {
  font-family: Times;
  font-style: italic;
  font-weight: normal;
}
/* TB:*/
.TB {
  font-family: Times;
  font-style: normal;
  font-weight: bold;
  padding: 8px;
}
.TBInline {
  font-family: Times;
  font-style: normal;
  font-weight: bold;
}
/* TBI:*/
.TBI {
  font-family: Times;
  font-style: italic;
  font-weight: bold;
  padding: 8px;
}
.TBIInline {
  font-family: Times;
  font-style: italic;
  font-weight: bold;
}
/* MR:*/
.MR {
  font-family: Courier;
  font-style: normal;
  font-weight: normal;
  padding: 8px;
}
.MRInline {
  font-family: Courier;
  font-style: normal;
  font-weight: normal;
}
/* MO:*/
.MO {
  font-family: Courier;
  font-style: italic;
  font-weight: normal;
  padding: 8px;
}
.MOInline {
  font-family: Courier;
  font-style: italic;
  font-weight: normal;
}
/* MB:*/
.MB {
  font-family: Courier;
  font-style: normal;
  font-weight: bold;
  padding: 8px;
}
.MBInline {
  font-family: Courier;
  font-style: normal;
  font-weight: bold;
}
/* MBO:*/
.MBO {
  font-family: Courier;
  font-style: italic;
  font-weight: bold;
  padding: 8px;
}
.MBOInline {
  font-family: Courier;
  font-style: italic;
  font-weight: bold;
}
/* SR:*/
.SR {
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  padding: 8px;
}
.SRInline {
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
}
/* SO:*/
.SO {
  font-family: Helvetica;
  font-style: italic;
  font-weight: normal;
  padding: 8px;
}
.SOInline {
  font-family: Helvetica;
  font-style: italic;
  font-weight: normal;
}
/* SB:*/
.SB {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  padding: 8px;
}
.SBInline {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
}
/* SBO:*/
.SBO {
  font-family: Helvetica;
  font-style: italic;
  font-weight: bold;
  padding: 8px;
}
.SBOInline {
  font-family: Helvetica;
  font-style: italic;
  font-weight: bold;
}
/* SO10:*/
.SO10 {
  font-size: 10px;
  font-family: Helvetica;
  font-style: italic;
  font-weight: normal;
  padding: 8px;
}
.SO10Inline {
  font-size: 10px;
  font-family: Helvetica;
  font-style: italic;
  font-weight: normal;
}
/* Inert:*/
.Inert {
  background-color: #DEE7F8;
  padding: 8px;
}
.InertInline {
  background-color: #DEE7F8;
}
/* Small:*/
.Small {
  font-size: 9px;
  padding: 8px;
}
.SmallInline {
  font-size: 9px;
}
/* Medium:*/
.Medium {
  font-size: 12px;
  padding: 8px;
}
.MediumInline {
  font-size: 12px;
}
/* Large:*/
.Large {
  font-size: 24px;
  padding: 8px;
}
.LargeInline {
  font-size: 24px;
}
/* Hyperlink:*/
.Hyperlink {
  color: #0000FF;
  padding: 8px;
}
.HyperlinkInline {
  color: #0000FF;
}
/* MainBookLink:*/
.MainBookLink {
  color: #0000FF;
  padding: 8px;
}
.MainBookLinkInline {
  color: #0000FF;
}
/* AddOnsLink:*/
.AddOnsLink {
  font-family: Courier;
  color: #0000FF;
  padding: 8px;
}
.AddOnsLinkInline {
  font-family: Courier;
  color: #0000FF;
}
/* RefGuideLink:*/
.RefGuideLink {
  font-family: Courier;
  color: #0000FF;
  padding: 8px;
}
.RefGuideLinkInline {
  font-family: Courier;
  color: #0000FF;
}
/* GettingStartedLink:*/
.GettingStartedLink {
  color: #0000FF;
  padding: 8px;
}
.GettingStartedLinkInline {
  color: #0000FF;
}
/* DemosLink:*/
.DemosLink {
  color: #0000FF;
  padding: 8px;
}
.DemosLinkInline {
  color: #0000FF;
}
/* TourLink:*/
.TourLink {
  color: #0000FF;
  padding: 8px;
}
.TourLinkInline {
  color: #0000FF;
}
/* OtherInformationLink:*/
.OtherInformationLink {
  color: #0000FF;
  padding: 8px;
}
.OtherInformationLinkInline {
  color: #0000FF;
}
/* MasterIndexLink:*/
.MasterIndexLink {
  color: #0000FF;
  padding: 8px;
}
.MasterIndexLinkInline {
  color: #0000FF;
}
/* Paste:*/
.Paste {
  padding: 8px;
}
.PasteInline {
}
/* Evaluate:*/
.Evaluate {
  padding: 8px;
}
.EvaluateInline {
}
/* EvaluateCell:*/
.EvaluateCell {
  padding: 8px;
}
.EvaluateCellInline {
}
/* CopyEvaluate:*/
.CopyEvaluate {
  padding: 8px;
}
.CopyEvaluateInline {
}
/* CopyEvaluateCell:*/
.CopyEvaluateCell {
  padding: 8px;
}
.CopyEvaluateCellInline {
}
/* SlideShowNavigationBar:*/
.SlideShowNavigationBar {
  font-size: 10px;
  background-color: #CCCCCC;
  text-align: center;
  padding: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 3px;
  margin-bottom: 3px;
  border: 1px;
  border-style: solid;
  border-color: #FFFFFF;
}
.SlideShowNavigationBarInline {
  font-size: 10px;
  background-color: #CCCCCC;
  text-align: center;
}
/* SlideShowSection:*/
.SlideShowSection {
  font-size: 18px;
  font-family: Helvetica;
  font-weight: normal;
  color: #FFFFFF;
  background-color: #6870CC;
  padding-left: 12px;
  padding-right: 4px;
  padding-top: 12px;
  padding-bottom: 6px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 10px;
  border-left: 0px;
  border-right: 0px;
  border-top: 1px;
  border-bottom: 0px;
  border-style: solid;
  border-color: #000000;
}
.SlideShowSectionInline {
  font-size: 18px;
  font-family: Helvetica;
  font-weight: normal;
  color: #FFFFFF;
  background-color: #6870CC;
}
/* SlideHyperlink:*/
.SlideHyperlink {
  font-size: 26px;
  color: #666666;
  padding: 8px;
}
.SlideHyperlinkInline {
  font-size: 26px;
  color: #666666;
}
/* PreviousNext:*/
.PreviousNext {
  font-size: 10px;
  font-family: Helvetica;
  color: #808080;
  text-align: right;
  line-height: 1.3;
  padding: 8px;
  margin-left: 60px;
  margin-right: 10px;
  margin-top: 7px;
  margin-bottom: 7px;
}
.PreviousNextInline {
  font-size: 10px;
  font-family: Helvetica;
  color: #808080;
  text-align: right;
  line-height: 1.3;
}
/* SlidePreviousNextLink:*/
.SlidePreviousNextLink {
  text-decoration: none;
  padding: 8px;
}
.SlidePreviousNextLinkInline {
  text-decoration: none;
}
/* SlideTOCLink:*/
.SlideTOCLink {
  font-family: Helvetica;
  padding: 8px;
  margin-left: 24px;
}
.SlideTOCLinkInline {
  font-family: Helvetica;
}
/* SlideTOC:*/
.SlideTOC {
  font-family: Helvetica;
  padding: 8px;
  margin-left: 18px;
  display: list-item;
  list-style-type: square;
}
.SlideTOCInline {
  font-family: Helvetica;
}
/* NumberedEquation:*/
.NumberedEquation {
  padding: 8px;
  margin-left: 72px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.NumberedEquationInline {
}
/* NumberedFigure:*/
.NumberedFigure {
  padding: 8px;
  margin-left: 72px;
  margin-right: 145px;
  margin-top: 10px;
  margin-bottom: 2px;
}
.NumberedFigureInline {
}
/* NumberedTable:*/
.NumberedTable {
  text-align: center;
  padding: 8px;
  margin-left: 72px;
  margin-right: 145px;
  margin-top: 10px;
  margin-bottom: 2px;
}
.NumberedTableInline {
  text-align: center;
}
/* DisplayFormula:*/
.DisplayFormula {
  padding: 8px;
  margin-left: 72px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 2px;
}
.DisplayFormulaInline {
}
/* ChemicalFormula:*/
.ChemicalFormula {
  padding: 8px;
  margin-left: 72px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 2px;
}
.ChemicalFormulaInline {
}
/* Program:*/
.Program {
  font-family: Courier;
  padding: 8px;
  margin-left: 54px;
  margin-right: 10px;
  margin-top: 6px;
}
.ProgramInline {
  font-family: Courier;
}

@media screen{
/* All:Working*/
html {
}
}

@media print{
/* All:Printout*/
html {
}
/* Title:Printout*/
.Title {
  font-size: 40pt;
  padding: 8pt;
}
.TitleInline {
  font-size: 40pt;
}
/* Subtitle:Printout*/
.Subtitle {
  font-size: 18pt;
  color: #000000;
  padding: 8pt;
}
.SubtitleInline {
  font-size: 18pt;
  color: #000000;
}
/* Subsubtitle:Printout*/
.Subsubtitle {
  font-size: 12pt;
  padding: 8pt;
}
.SubsubtitleInline {
  font-size: 12pt;
}
/* Section:Printout*/
.Section {
  font-size: 12pt;
  color: #000000;
  padding: 8pt;
}
.SectionInline {
  font-size: 12pt;
  color: #000000;
}
/* Subsection:Printout*/
.Subsection {
  font-size: 10pt;
  padding: 8pt;
}
.SubsectionInline {
  font-size: 10pt;
}
/* Subsubsection:Printout*/
.Subsubsection {
  font-size: 9pt;
  color: #000000;
  padding: 8pt;
}
.SubsubsectionInline {
  font-size: 9pt;
  color: #000000;
}
/* Text:Printout*/
.Text {
  font-size: 10pt;
  line-height: 1.5;
  padding: 8pt;
}
.TextInline {
  font-size: 10pt;
  line-height: 1.5;
}
/* SmallText:Printout*/
.SmallText {
  font-size: 9pt;
  line-height: 1.33333;
  padding: 8pt;
}
.SmallTextInline {
  font-size: 9pt;
  line-height: 1.33333;
}
/* Input:Printout*/
.Input {
  font-size: 10pt;
  padding: 8pt;
}
.InputInline {
  font-size: 10pt;
}
/* Output:Printout*/
.Output {
  font-size: 10pt;
  padding: 8pt;
}
.OutputInline {
  font-size: 10pt;
}
/* Message:Printout*/
.Message {
  font-size: 8pt;
  padding: 8pt;
}
.MessageInline {
  font-size: 8pt;
}
/* Print:Printout*/
.Print {
  font-size: 10pt;
  padding: 8pt;
}
.PrintInline {
  font-size: 10pt;
}
/* Graphics:Printout*/
.Graphics {
  font-size: 8pt;
  padding: 8pt;
}
.GraphicsInline {
  font-size: 8pt;
}
/* CellLabel:Printout*/
.CellLabel {
  font-size: 8pt;
  color: #000000;
  margin-top: 0pt;
  margin-bottom: 0pt;
}
/* SO10:Printout*/
.SO10 {
  font-size: 7pt;
  font-family: Helvetica;
  font-style: italic;
  font-weight: normal;
  padding: 8pt;
}
.SO10Inline {
  font-size: 7pt;
  font-family: Helvetica;
  font-style: italic;
  font-weight: normal;
}
/* Inert:Printout*/
.Inert {
  background-color: #FFFFFF;
  padding: 8pt;
}
.InertInline {
  background-color: #FFFFFF;
}
/* Hyperlink:Printout*/
.Hyperlink {
  font-size: 10pt;
  color: #000000;
  padding: 8pt;
}
.HyperlinkInline {
  font-size: 10pt;
  color: #000000;
}
/* MainBookLink:Printout*/
.MainBookLink {
  font-size: 10pt;
  color: #000000;
  padding: 8pt;
}
.MainBookLinkInline {
  font-size: 10pt;
  color: #000000;
}
/* AddOnsLink:Printout*/
.AddOnsLink {
  font-size: 10pt;
  color: #000000;
  padding: 8pt;
}
.AddOnsLinkInline {
  font-size: 10pt;
  color: #000000;
}
/* RefGuideLink:Printout*/
.RefGuideLink {
  font-size: 10pt;
  color: #000000;
  padding: 8pt;
}
.RefGuideLinkInline {
  font-size: 10pt;
  color: #000000;
}
/* GettingStartedLink:Printout*/
.GettingStartedLink {
  font-size: 10pt;
  color: #000000;
  padding: 8pt;
}
.GettingStartedLinkInline {
  font-size: 10pt;
  color: #000000;
}
/* DemosLink:Printout*/
.DemosLink {
  color: #000000;
  padding: 8pt;
}
.DemosLinkInline {
  color: #000000;
}
/* TourLink:Printout*/
.TourLink {
  color: #000000;
  padding: 8pt;
}
.TourLinkInline {
  color: #000000;
}
/* OtherInformationLink:Printout*/
.OtherInformationLink {
  font-size: 10pt;
  color: #000000;
  padding: 8pt;
}
.OtherInformationLinkInline {
  font-size: 10pt;
  color: #000000;
}
/* MasterIndexLink:Printout*/
.MasterIndexLink {
  color: #000000;
  padding: 8pt;
}
.MasterIndexLinkInline {
  color: #000000;
}
/* SlideShowNavigationBar:Printout*/
.SlideShowNavigationBar {
  font-size: 10pt;
  line-height: 1.3;
  padding: 8pt;
  margin-left: 18pt;
  margin-right: 4pt;
  margin-top: 4pt;
  margin-bottom: 4pt;
}
.SlideShowNavigationBarInline {
  font-size: 10pt;
  line-height: 1.3;
}
/* SlideShowSection:Printout*/
.SlideShowSection {
  font-size: 14pt;
  padding: 8pt;
  margin-left: 18pt;
  margin-right: 30pt;
  margin-top: 30pt;
  margin-bottom: 0pt;
}
.SlideShowSectionInline {
  font-size: 14pt;
}
/* SlideHyperlink:Printout*/
.SlideHyperlink {
  font-size: 10pt;
  text-decoration: none;
  color: #000000;
  padding: 8pt;
}
.SlideHyperlinkInline {
  font-size: 10pt;
  text-decoration: none;
  color: #000000;
}
/* PreviousNext:Printout*/
.PreviousNext {
  font-size: 10pt;
  padding: 8pt;
  margin-left: 2pt;
  margin-right: 2pt;
  margin-top: 6pt;
  margin-bottom: 6pt;
}
.PreviousNextInline {
  font-size: 10pt;
}
/* SlidePreviousNextLink:Printout*/
.SlidePreviousNextLink {
  padding: 8pt;
}
.SlidePreviousNextLinkInline {
}
/* SlideTOCLink:Printout*/
.SlideTOCLink {
  text-decoration: none;
  color: #000000;
  padding: 8pt;
}
.SlideTOCLinkInline {
  text-decoration: none;
  color: #000000;
}
/* SlideTOC:Printout*/
.SlideTOC {
  font-size: 10pt;
  color: #000000;
  padding: 8pt;
}
.SlideTOCInline {
  font-size: 10pt;
  color: #000000;
}
/* NumberedEquation:Printout*/
.NumberedEquation {
  font-size: 10pt;
  padding: 8pt;
}
.NumberedEquationInline {
  font-size: 10pt;
}
/* NumberedFigure:Printout*/
.NumberedFigure {
  font-size: 10pt;
  padding: 8pt;
}
.NumberedFigureInline {
  font-size: 10pt;
}
/* NumberedTable:Printout*/
.NumberedTable {
  font-size: 10pt;
  padding: 8pt;
}
.NumberedTableInline {
  font-size: 10pt;
}
/* DisplayFormula:Printout*/
.DisplayFormula {
  font-size: 10pt;
  padding: 8pt;
}
.DisplayFormulaInline {
  font-size: 10pt;
}
/* ChemicalFormula:Printout*/
.ChemicalFormula {
  font-size: 10pt;
  padding: 8pt;
}
.ChemicalFormulaInline {
  font-size: 10pt;
}
/* Program:Printout*/
.Program {
  font-size: 10pt;
  padding: 8pt;
}
.ProgramInline {
  font-size: 10pt;
}
}

.script {font-family: Mathematica5, cursive}
.gothic {font-family: Mathematica6, Century Gothic}
.doublestruck {font-family: Mathematica7}