/* Wolfram Mathematica TutorialBook stylesheet
* CSS version
*
* Created by Wolfram Mathematica 6.0. */

/* Notebook:*/
html {
  font-size: 12px;
  padding: 8px;
}
img {
  border: 0px;
}

/* Title:*/
.Title {
  font-size: 36px;
  font-family: Times;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #0000FF;
  line-height: 1.36111;
  padding: 8px;
  margin-left: 5px;
  margin-top: 0px;
  margin-bottom: 2px;
}
.TitleInline {
  font-size: 36px;
  font-family: Times;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #0000FF;
  line-height: 1.36111;
}
/* Subtitle:*/
.Subtitle {
  font-size: 24px;
  font-family: Helvetica;
  padding: 8px;
  margin-left: 12px;
  margin-top: 2px;
  margin-bottom: 2px;
}
.SubtitleInline {
  font-size: 24px;
  font-family: Helvetica;
}
/* Subsubtitle:*/
.Subsubtitle {
  font-size: 14px;
  font-family: Helvetica;
  font-style: italic;
  padding: 8px;
  margin-left: 12px;
  margin-top: 12px;
  margin-bottom: 2px;
}
.SubsubtitleInline {
  font-size: 14px;
  font-family: Helvetica;
  font-style: italic;
}
/* Section:*/
.Section {
  font-size: 18px;
  font-family: Helvetica;
  font-weight: bold;
  color: #0000FF;
  padding: 8px;
  margin-left: 8px;
  margin-right: 4px;
  margin-top: 50px;
  margin-bottom: 2px;
  border-left: 6px;
  border-right: 1px;
  border-top: 1px;
  border-bottom: 1px;
  border-style: solid;
  border-color: #0000FF;
}
.SectionInline {
  font-size: 18px;
  font-family: Helvetica;
  font-weight: bold;
  color: #0000FF;
}
/* Subsection:*/
.Subsection {
  font-size: 15px;
  font-family: Helvetica;
  font-weight: bold;
  color: #0000FF;
  line-height: 1.33333;
  padding: 8px;
  margin-left: 24px;
  margin-right: 4px;
  margin-top: 18px;
  margin-bottom: 2px;
  display: list-item;
  list-style-type: square;
}
.SubsectionInline {
  font-size: 15px;
  font-family: Helvetica;
  font-weight: bold;
  color: #0000FF;
  line-height: 1.33333;
}
/* Subsubsection:*/
.Subsubsection {
  font-family: Helvetica;
  font-weight: bold;
  color: #0000FF;
  padding: 8px;
  margin-left: 10px;
  margin-right: 4px;
  margin-top: 18px;
  margin-bottom: 2px;
}
.SubsubsectionInline {
  font-family: Helvetica;
  font-weight: bold;
  color: #0000FF;
}
/* Text:*/
.Text {
  font-size: 14px;
  line-height: 1.21429;
  padding: 8px;
  margin-left: 10px;
  margin-right: 4px;
  margin-top: 8px;
  margin-bottom: 0px;
}
.TextInline {
  font-size: 14px;
  line-height: 1.21429;
}
/* MathCaption:*/
.MathCaption {
  font-size: 12px;
  font-family: Helvetica;
  line-height: 1.25;
  padding: 8px;
  margin-left: 47px;
  margin-right: 14px;
  margin-top: 14px;
  margin-bottom: 0px;
  border-left: 3px;
  border-right: 0px;
  border-top: 1px;
  border-bottom: 0px;
  border-style: solid;
  border-color: #0000FF;
}
.MathCaptionInline {
  font-size: 12px;
  font-family: Helvetica;
  line-height: 1.25;
}
/* Input:*/
.Input {
  font-size: 16px;
  font-weight: bold;
  padding: 8px;
  margin-left: 54px;
  margin-right: 14px;
  margin-top: 8px;
  margin-bottom: 3px;
}
.InputInline {
  font-size: 16px;
  font-weight: bold;
}
/* Output:*/
.Output {
  font-size: 14px;
  padding: 8px;
  margin-left: 55px;
  margin-right: 4px;
  margin-top: 3px;
  margin-bottom: 8px;
}
.OutputInline {
  font-size: 14px;
}
/* Message:*/
.Message {
  color: #0033FF;
  padding: 8px;
  margin-left: 56px;
  margin-right: 4px;
  margin-top: 8px;
  margin-bottom: 3px;
}
.MessageInline {
  color: #0033FF;
}
/* Print:*/
.Print {
  padding: 8px;
  margin-left: 56px;
  margin-right: 4px;
  margin-top: 8px;
  margin-bottom: 3px;
}
.PrintInline {
}
/* Graphics:*/
.Graphics {
  padding: 8px;
  margin-left: 55px;
}
.GraphicsInline {
}
/* CellLabel:*/
.CellLabel {
  font-size: 9px;
  font-family: Helvetica;
  color: #0033FF;
  margin-top: 0px;
  margin-bottom: 0px;
}
/* RM:*/
.RM {
  font-style: normal;
  font-weight: normal;
  padding: 8px;
}
.RMInline {
  font-style: normal;
  font-weight: normal;
}
/* BF:*/
.BF {
  font-weight: bold;
  padding: 8px;
}
.BFInline {
  font-weight: bold;
}
/* IT:*/
.IT {
  font-style: italic;
  padding: 8px;
}
.ITInline {
  font-style: italic;
}
/* TR:*/
.TR {
  font-family: Times;
  font-style: normal;
  font-weight: normal;
  padding: 8px;
}
.TRInline {
  font-family: Times;
  font-style: normal;
  font-weight: normal;
}
/* TI:*/
.TI {
  font-family: Times;
  font-style: italic;
  font-weight: normal;
  padding: 8px;
}
.TIInline {
  font-family: Times;
  font-style: italic;
  font-weight: normal;
}
/* TB:*/
.TB {
  font-family: Times;
  font-style: normal;
  font-weight: bold;
  padding: 8px;
}
.TBInline {
  font-family: Times;
  font-style: normal;
  font-weight: bold;
}
/* TBI:*/
.TBI {
  font-family: Times;
  font-style: italic;
  font-weight: bold;
  padding: 8px;
}
.TBIInline {
  font-family: Times;
  font-style: italic;
  font-weight: bold;
}
/* MR:*/
.MR {
  font-family: Courier;
  font-style: normal;
  font-weight: normal;
  padding: 8px;
}
.MRInline {
  font-family: Courier;
  font-style: normal;
  font-weight: normal;
}
/* MO:*/
.MO {
  font-family: Courier;
  font-style: italic;
  font-weight: normal;
  padding: 8px;
}
.MOInline {
  font-family: Courier;
  font-style: italic;
  font-weight: normal;
}
/* MB:*/
.MB {
  font-family: Courier;
  font-style: normal;
  font-weight: bold;
  padding: 8px;
}
.MBInline {
  font-family: Courier;
  font-style: normal;
  font-weight: bold;
}
/* MBO:*/
.MBO {
  font-family: Courier;
  font-style: italic;
  font-weight: bold;
  padding: 8px;
}
.MBOInline {
  font-family: Courier;
  font-style: italic;
  font-weight: bold;
}
/* SR:*/
.SR {
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  padding: 8px;
}
.SRInline {
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
}
/* SO:*/
.SO {
  font-family: Helvetica;
  font-style: italic;
  font-weight: normal;
  padding: 8px;
}
.SOInline {
  font-family: Helvetica;
  font-style: italic;
  font-weight: normal;
}
/* SB:*/
.SB {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  padding: 8px;
}
.SBInline {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
}
/* SBO:*/
.SBO {
  font-family: Helvetica;
  font-style: italic;
  font-weight: bold;
  padding: 8px;
}
.SBOInline {
  font-family: Helvetica;
  font-style: italic;
  font-weight: bold;
}
/* SO10:*/
.SO10 {
  font-size: 10px;
  font-family: Helvetica;
  font-style: italic;
  font-weight: normal;
  padding: 8px;
}
.SO10Inline {
  font-size: 10px;
  font-family: Helvetica;
  font-style: italic;
  font-weight: normal;
}
/* Inert:*/
.Inert {
  background-color: #DEE7F8;
  padding: 8px;
}
.InertInline {
  background-color: #DEE7F8;
}
/* Small:*/
.Small {
  font-size: 9px;
  padding: 8px;
}
.SmallInline {
  font-size: 9px;
}
/* Medium:*/
.Medium {
  font-size: 12px;
  padding: 8px;
}
.MediumInline {
  font-size: 12px;
}
/* Large:*/
.Large {
  font-size: 24px;
  padding: 8px;
}
.LargeInline {
  font-size: 24px;
}
/* ItemizedText:*/
.ItemizedText {
  font-size: 14px;
  text-indent: 0px;
  line-height: 1.21429;
  padding: 8px;
  margin-left: 26px;
  margin-right: 4px;
  margin-top: 8px;
  margin-bottom: 0px;
}
.ItemizedTextInline {
  font-size: 14px;
  text-indent: 0px;
  line-height: 1.21429;
}
/* ItemizedTextNote:*/
.ItemizedTextNote {
  font-size: 14px;
  line-height: 1.21429;
  padding: 8px;
  margin-left: 45px;
  margin-right: 4px;
  margin-top: 5px;
  margin-bottom: 0px;
}
.ItemizedTextNoteInline {
  font-size: 14px;
  line-height: 1.21429;
}
/* IndentedText:*/
.IndentedText {
  font-size: 14px;
  line-height: 1.21429;
  padding: 8px;
  margin-left: 26px;
  margin-right: 4px;
  margin-top: 8px;
  margin-bottom: 0px;
}
.IndentedTextInline {
  font-size: 14px;
  line-height: 1.21429;
}
/* Note:*/
.Note {
  font-size: 10px;
  font-family: Helvetica;
  line-height: 1.3;
  padding: 8px;
  margin-left: 10px;
  margin-right: 4px;
  margin-top: 8px;
  margin-bottom: 0px;
  border: 1px;
  border-style: solid;
  border-color: #0000FF;
}
.NoteInline {
  font-size: 10px;
  font-family: Helvetica;
  line-height: 1.3;
}
/* Picture:*/
.Picture {
  padding: 8px;
  margin-left: 10px;
  margin-top: 8px;
  margin-bottom: 0px;
}
.PictureInline {
}
/* Caption:*/
.Caption {
  font-size: 9px;
  font-family: Helvetica;
  color: #0000FF;
  padding: 8px;
  margin-left: 10px;
  margin-right: 50px;
  margin-top: 3px;
  margin-bottom: 0px;
}
.CaptionInline {
  font-size: 9px;
  font-family: Helvetica;
  color: #0000FF;
}
/* 2ColumnTable:*/
.X2ColumnTable {
  padding: 8px;
  margin-left: 10px;
  margin-right: 4px;
  margin-top: 8px;
  margin-bottom: 0px;
}
.X2ColumnTableInline {
}
/* 3ColumnTable:*/
.X3ColumnTable {
  padding: 8px;
  margin-left: 10px;
  margin-right: 4px;
  margin-top: 8px;
  margin-bottom: 0px;
}
.X3ColumnTableInline {
}
/* ChemicalFormula:*/
.ChemicalFormula {
  font-size: 14px;
  padding: 8px;
  margin-left: 55px;
}
.ChemicalFormulaInline {
  font-size: 14px;
}
/* DisplayFormula:*/
.DisplayFormula {
  font-size: 14px;
  padding: 8px;
  margin-left: 55px;
}
.DisplayFormulaInline {
  font-size: 14px;
}
/* Program:*/
.Program {
  font-family: Courier;
  padding: 8px;
  margin-left: 10px;
}
.ProgramInline {
  font-family: Courier;
}
/* Hyperlink:*/
.Hyperlink {
  color: #FFFFFF;
  background-color: #0099FF;
  padding: 8px;
}
.HyperlinkInline {
  color: #FFFFFF;
  background-color: #0099FF;
}
/* MainBookLink:*/
.MainBookLink {
  color: #FFFFFF;
  background-color: #0099FF;
  padding: 8px;
}
.MainBookLinkInline {
  color: #FFFFFF;
  background-color: #0099FF;
}
/* AddOnsLink:*/
.AddOnsLink {
  font-family: Courier;
  color: #FFFFFF;
  background-color: #0099FF;
  padding: 8px;
}
.AddOnsLinkInline {
  font-family: Courier;
  color: #FFFFFF;
  background-color: #0099FF;
}
/* RefGuideLink:*/
.RefGuideLink {
  font-family: Courier;
  color: #FFFFFF;
  background-color: #0099FF;
  padding: 8px;
}
.RefGuideLinkInline {
  font-family: Courier;
  color: #FFFFFF;
  background-color: #0099FF;
}
/* GettingStartedLink:*/
.GettingStartedLink {
  color: #FFFFFF;
  background-color: #0099FF;
  padding: 8px;
}
.GettingStartedLinkInline {
  color: #FFFFFF;
  background-color: #0099FF;
}
/* OtherInformationLink:*/
.OtherInformationLink {
  color: #FFFFFF;
  background-color: #0099FF;
  padding: 8px;
}
.OtherInformationLinkInline {
  color: #FFFFFF;
  background-color: #0099FF;
}
/* DemosLink:*/
.DemosLink {
  color: #FFFFFF;
  background-color: #0099FF;
  padding: 8px;
}
.DemosLinkInline {
  color: #FFFFFF;
  background-color: #0099FF;
}
/* TourLink:*/
.TourLink {
  color: #FFFFFF;
  background-color: #0099FF;
  padding: 8px;
}
.TourLinkInline {
  color: #FFFFFF;
  background-color: #0099FF;
}
/* MasterIndexLink:*/
.MasterIndexLink {
  color: #FFFFFF;
  background-color: #0099FF;
  padding: 8px;
}
.MasterIndexLinkInline {
  color: #FFFFFF;
  background-color: #0099FF;
}
/* Paste:*/
.Paste {
  padding: 8px;
}
.PasteInline {
}
/* Evaluate:*/
.Evaluate {
  padding: 8px;
}
.EvaluateInline {
}
/* EvaluateCell:*/
.EvaluateCell {
  padding: 8px;
}
.EvaluateCellInline {
}
/* CopyEvaluate:*/
.CopyEvaluate {
  padding: 8px;
}
.CopyEvaluateInline {
}
/* CopyEvaluateCell:*/
.CopyEvaluateCell {
  padding: 8px;
}
.CopyEvaluateCellInline {
}
/* SlideShowNavigationBar:*/
.SlideShowNavigationBar {
  font-size: 10px;
  background-color: #CCCCCC;
  text-align: center;
  padding: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 3px;
  margin-bottom: 3px;
  border: 1px;
  border-style: solid;
  border-color: #FFFFFF;
}
.SlideShowNavigationBarInline {
  font-size: 10px;
  background-color: #CCCCCC;
  text-align: center;
}
/* SlideShowSection:*/
.SlideShowSection {
  font-size: 18px;
  font-family: Helvetica;
  font-weight: normal;
  color: #FFFFFF;
  background-color: #6870CC;
  padding-left: 12px;
  padding-right: 4px;
  padding-top: 12px;
  padding-bottom: 6px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 10px;
  border-left: 0px;
  border-right: 0px;
  border-top: 1px;
  border-bottom: 0px;
  border-style: solid;
  border-color: #000000;
}
.SlideShowSectionInline {
  font-size: 18px;
  font-family: Helvetica;
  font-weight: normal;
  color: #FFFFFF;
  background-color: #6870CC;
}
/* SlideHyperlink:*/
.SlideHyperlink {
  font-size: 26px;
  color: #666666;
  padding: 8px;
}
.SlideHyperlinkInline {
  font-size: 26px;
  color: #666666;
}
/* PreviousNext:*/
.PreviousNext {
  font-size: 10px;
  font-family: Helvetica;
  color: #808080;
  text-align: right;
  line-height: 1.3;
  padding: 8px;
  margin-left: 60px;
  margin-right: 10px;
  margin-top: 7px;
  margin-bottom: 7px;
}
.PreviousNextInline {
  font-size: 10px;
  font-family: Helvetica;
  color: #808080;
  text-align: right;
  line-height: 1.3;
}
/* SlidePreviousNextLink:*/
.SlidePreviousNextLink {
  text-decoration: none;
  padding: 8px;
}
.SlidePreviousNextLinkInline {
  text-decoration: none;
}
/* SlideTOCLink:*/
.SlideTOCLink {
  font-family: Helvetica;
  padding: 8px;
  margin-left: 24px;
}
.SlideTOCLinkInline {
  font-family: Helvetica;
}
/* SlideTOC:*/
.SlideTOC {
  font-family: Helvetica;
  padding: 8px;
  margin-left: 18px;
  display: list-item;
  list-style-type: square;
}
.SlideTOCInline {
  font-family: Helvetica;
}

@media screen{
/* All:Working*/
html {
}
}

@media print{
/* All:Printout*/
html {
}
/* Title:Printout*/
.Title {
  font-size: 28pt;
  background-color: #999999;
  padding: 8pt;
  margin-left: 0pt;
  margin-right: 10pt;
  margin-top: 0pt;
  margin-bottom: 2pt;
}
.TitleInline {
  font-size: 28pt;
  background-color: #999999;
}
/* Subtitle:Printout*/
.Subtitle {
  font-size: 18pt;
  padding: 8pt;
  margin-left: 7pt;
  margin-right: 10pt;
  margin-top: 4pt;
  margin-bottom: 2pt;
}
.SubtitleInline {
  font-size: 18pt;
}
/* Subsubtitle:Printout*/
.Subsubtitle {
  font-size: 12pt;
  padding: 8pt;
  margin-left: 7pt;
  margin-right: 10pt;
  margin-top: 8pt;
  margin-bottom: 2pt;
}
.SubsubtitleInline {
  font-size: 12pt;
}
/* Section:Printout*/
.Section {
  font-size: 14pt;
  color: #000000;
  padding: 8pt;
  margin-left: 6pt;
  margin-right: 4pt;
  margin-top: 70pt;
  margin-bottom: 2pt;
  border-left: 6pt;
  border-right: 1pt;
  border-top: 1pt;
  border-bottom: 1pt;
  border-style: solid;
  border-color: #000000;
}
.SectionInline {
  font-size: 14pt;
  color: #000000;
}
/* Subsection:Printout*/
.Subsection {
  font-size: 12pt;
  color: #000000;
  padding: 8pt;
  margin-left: 19pt;
  margin-right: 4pt;
  margin-top: 18pt;
  margin-bottom: 2pt;
}
.SubsectionInline {
  font-size: 12pt;
  color: #000000;
}
/* Subsubsection:Printout*/
.Subsubsection {
  font-size: 10pt;
  color: #000000;
  padding: 8pt;
  margin-left: 7pt;
  margin-right: 4pt;
  margin-top: 18pt;
  margin-bottom: 2pt;
}
.SubsubsectionInline {
  font-size: 10pt;
  color: #000000;
}
/* Text:Printout*/
.Text {
  font-size: 11pt;
  padding: 8pt;
  margin-left: 7pt;
  margin-right: 0pt;
  margin-top: 8pt;
  margin-bottom: 0pt;
}
.TextInline {
  font-size: 11pt;
}
/* MathCaption:Printout*/
.MathCaption {
  font-size: 10pt;
  padding: 8pt;
  margin-left: 34pt;
  margin-right: 54pt;
  margin-top: 14pt;
  margin-bottom: 0pt;
}
.MathCaptionInline {
  font-size: 10pt;
}
/* Input:Printout*/
.Input {
  font-size: 10pt;
  padding: 8pt;
  margin-left: 43pt;
  margin-right: 4pt;
  margin-top: 8pt;
  margin-bottom: 3pt;
}
.InputInline {
  font-size: 10pt;
}
/* Output:Printout*/
.Output {
  font-size: 10pt;
  padding: 8pt;
  margin-left: 43pt;
  margin-right: 4pt;
  margin-top: 2pt;
  margin-bottom: 4pt;
}
.OutputInline {
  font-size: 10pt;
}
/* Message:Printout*/
.Message {
  font-size: 10pt;
  color: #000000;
  padding: 8pt;
  margin-left: 44pt;
  margin-right: 4pt;
  margin-top: 8pt;
  margin-bottom: 3pt;
}
.MessageInline {
  font-size: 10pt;
  color: #000000;
}
/* Print:Printout*/
.Print {
  font-size: 10pt;
  padding: 8pt;
  margin-left: 44pt;
  margin-right: 4pt;
  margin-top: 8pt;
  margin-bottom: 3pt;
}
.PrintInline {
  font-size: 10pt;
}
/* Graphics:Printout*/
.Graphics {
  font-size: 9pt;
  padding: 8pt;
  margin-left: 42pt;
  margin-right: 4pt;
  margin-top: 8pt;
  margin-bottom: 3pt;
}
.GraphicsInline {
  font-size: 9pt;
}
/* CellLabel:Printout*/
.CellLabel {
  font-size: 7pt;
  font-style: oblique;
  color: #000000;
  margin-top: 0pt;
  margin-bottom: 0pt;
}
/* SO10:Printout*/
.SO10 {
  font-size: 7pt;
  font-family: Helvetica;
  font-style: italic;
  font-weight: normal;
  padding: 8pt;
}
.SO10Inline {
  font-size: 7pt;
  font-family: Helvetica;
  font-style: italic;
  font-weight: normal;
}
/* Inert:Printout*/
.Inert {
  background-color: #FFFFFF;
  padding: 8pt;
}
.InertInline {
  background-color: #FFFFFF;
}
/* ItemizedText:Printout*/
.ItemizedText {
  font-size: 11pt;
  text-indent: 0pt;
  padding: 8pt;
  margin-left: 20pt;
  margin-right: 4pt;
  margin-top: 8pt;
  margin-bottom: 0pt;
}
.ItemizedTextInline {
  font-size: 11pt;
  text-indent: 0pt;
}
/* ItemizedTextNote:Printout*/
.ItemizedTextNote {
  font-size: 11pt;
  padding: 8pt;
  margin-left: 34pt;
  margin-right: 4pt;
  margin-top: 4pt;
  margin-bottom: 0pt;
}
.ItemizedTextNoteInline {
  font-size: 11pt;
}
/* IndentedText:Printout*/
.IndentedText {
  font-size: 11pt;
  padding: 8pt;
  margin-left: 20pt;
  margin-right: 4pt;
  margin-top: 8pt;
  margin-bottom: 0pt;
}
.IndentedTextInline {
  font-size: 11pt;
}
/* Note:Printout*/
.Note {
  font-size: 8pt;
  padding: 8pt;
  margin-left: 7pt;
  margin-right: 4pt;
  margin-top: 8pt;
  margin-bottom: 0pt;
}
.NoteInline {
  font-size: 8pt;
}
/* Picture:Printout*/
.Picture {
  padding: 8pt;
  margin-left: 7pt;
  margin-top: 8pt;
  margin-bottom: 0pt;
}
.PictureInline {
}
/* Caption:Printout*/
.Caption {
  font-size: 7pt;
  color: #000000;
  padding: 8pt;
  margin-left: 7pt;
  margin-right: 50pt;
  margin-top: 4pt;
  margin-bottom: 2pt;
}
.CaptionInline {
  font-size: 7pt;
  color: #000000;
}
/* 2ColumnTable:Printout*/
.X2ColumnTable {
  font-size: 10pt;
  padding: 8pt;
  margin-left: 7pt;
  margin-right: 4pt;
  margin-top: 8pt;
  margin-bottom: 0pt;
}
.X2ColumnTableInline {
  font-size: 10pt;
}
/* 3ColumnTable:Printout*/
.X3ColumnTable {
  font-size: 10pt;
  padding: 8pt;
  margin-left: 7pt;
  margin-right: 4pt;
  margin-top: 8pt;
  margin-bottom: 0pt;
}
.X3ColumnTableInline {
  font-size: 10pt;
}
/* ChemicalFormula:Printout*/
.ChemicalFormula {
  font-size: 10pt;
  padding: 8pt;
  margin-left: 43pt;
}
.ChemicalFormulaInline {
  font-size: 10pt;
}
/* DisplayFormula:Printout*/
.DisplayFormula {
  font-size: 10pt;
  padding: 8pt;
  margin-left: 43pt;
}
.DisplayFormulaInline {
  font-size: 10pt;
}
/* Program:Printout*/
.Program {
  font-size: 10pt;
  padding: 8pt;
  margin-left: 7pt;
}
.ProgramInline {
  font-size: 10pt;
}
/* Hyperlink:Printout*/
.Hyperlink {
  color: #000000;
  background-color: #FFFFFF;
  padding: 8pt;
}
.HyperlinkInline {
  color: #000000;
  background-color: #FFFFFF;
}
/* MainBookLink:Printout*/
.MainBookLink {
  color: #000000;
  background-color: #FFFFFF;
  padding: 8pt;
}
.MainBookLinkInline {
  color: #000000;
  background-color: #FFFFFF;
}
/* AddOnLink:Printout*/
.AddOnLink {
  color: #000000;
  background-color: #FFFFFF;
  padding: 8pt;
}
.AddOnLinkInline {
  color: #000000;
  background-color: #FFFFFF;
}
/* RefGuideLink:Printout*/
.RefGuideLink {
  color: #000000;
  background-color: #FFFFFF;
  padding: 8pt;
}
.RefGuideLinkInline {
  color: #000000;
  background-color: #FFFFFF;
}
/* GettingStartedLink:Printout*/
.GettingStartedLink {
  color: #000000;
  background-color: #FFFFFF;
  padding: 8pt;
}
.GettingStartedLinkInline {
  color: #000000;
  background-color: #FFFFFF;
}
/* OtherInformationLink:Printout*/
.OtherInformationLink {
  color: #000000;
  background-color: #FFFFFF;
  padding: 8pt;
}
.OtherInformationLinkInline {
  color: #000000;
  background-color: #FFFFFF;
}
/* DemosLink:Printout*/
.DemosLink {
  color: #000000;
  padding: 8pt;
}
.DemosLinkInline {
  color: #000000;
}
/* TourLink:Printout*/
.TourLink {
  color: #000000;
  padding: 8pt;
}
.TourLinkInline {
  color: #000000;
}
/* MasterIndexLink:Printout*/
.MasterIndexLink {
  color: #000000;
  padding: 8pt;
}
.MasterIndexLinkInline {
  color: #000000;
}
/* SlideShowNavigationBar:Printout*/
.SlideShowNavigationBar {
  font-size: 10pt;
  line-height: 1.3;
  padding: 8pt;
  margin-left: 18pt;
  margin-right: 4pt;
  margin-top: 4pt;
  margin-bottom: 4pt;
}
.SlideShowNavigationBarInline {
  font-size: 10pt;
  line-height: 1.3;
}
/* SlideShowSection:Printout*/
.SlideShowSection {
  font-size: 14pt;
  padding: 8pt;
  margin-left: 18pt;
  margin-right: 30pt;
  margin-top: 30pt;
  margin-bottom: 0pt;
}
.SlideShowSectionInline {
  font-size: 14pt;
}
/* SlideHyperlink:Printout*/
.SlideHyperlink {
  font-size: 10pt;
  text-decoration: none;
  color: #000000;
  padding: 8pt;
}
.SlideHyperlinkInline {
  font-size: 10pt;
  text-decoration: none;
  color: #000000;
}
/* PreviousNext:Printout*/
.PreviousNext {
  font-size: 10pt;
  padding: 8pt;
  margin-left: 2pt;
  margin-right: 2pt;
  margin-top: 6pt;
  margin-bottom: 6pt;
}
.PreviousNextInline {
  font-size: 10pt;
}
/* SlidePreviousNextLink:Printout*/
.SlidePreviousNextLink {
  padding: 8pt;
}
.SlidePreviousNextLinkInline {
}
/* SlideTOCLink:Printout*/
.SlideTOCLink {
  text-decoration: none;
  color: #000000;
  padding: 8pt;
}
.SlideTOCLinkInline {
  text-decoration: none;
  color: #000000;
}
/* SlideTOC:Printout*/
.SlideTOC {
  font-size: 10pt;
  color: #000000;
  padding: 8pt;
}
.SlideTOCInline {
  font-size: 10pt;
  color: #000000;
}
}

.script {font-family: Mathematica5, cursive}
.gothic {font-family: Mathematica6, Century Gothic}
.doublestruck {font-family: Mathematica7}