<blockquote class=" twitter-tweet " data-lang=" en "><a 
href="https://twitter.com/`user`/status/`id`"></blockquote>
<script async src = "https://platform.twitter.com/widgets.js"
charset="utf-8"></script>