div.Title {
	font-size: 48px;
	text-align: center;
	margin-left: 36px;
	margin-right: 20px;
	margin-bottom: 0px;
	margin-top: 10px;
}
div.Subtitle {
	color: #c56643;
	font-size: 24px;
	font-style: italic;
	text-align: center;
	margin-left: 54px;
	margin-right: 25px;
	margin-bottom: 2px;
	margin-top: 30px;
}
div.Subsubtitle {
	font-size: 14px;
	font-style: italic;
	text-align: center;
	margin-left: 54px;
	margin-right: 25px;
	margin-bottom: 30px;
	margin-top: 10px;
}
div.Section {
	color: #c56643;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	margin-left: 54px;
	margin-right: 25px;
	margin-bottom: 2px;
	margin-top: 30px;
}
div.Subsection {
	font-weight: bold;
	margin-left: 54px;
	margin-right: 25px;
	margin-bottom: 2px;
	margin-top: 12px;
	display: list-item;
	list-style-type: square;
}
div.Subsubsection {
	color: #c56643;
	font-style: italic;
	margin-left: 54px;
	margin-right: 25px;
	margin-bottom: 2px;
	margin-top: 12px;
}
div.Text {
	margin-left: 54px;
	margin-right: 25px;
	margin-bottom: 6px;
	margin-top: 6px;
}
div.SmallText {
	font-size: 10px;
	margin-left: 72px;
	margin-right: 44px;
	margin-bottom: 6px;
	margin-top: 6px;
	border-width: 0px;
	border-style: solid;
	border-top-width: 1px;
}
div.Input {
	font-family: Courier, monospaced;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	margin-left: 72px;
	margin-right: 25px;
	margin-bottom: 8px;
	margin-top: 12px;
}
div.Output {
	font-family: Courier, monospaced;
	font-size: 12px;
	text-align: left;
	margin-left: 72px;
	margin-right: 25px;
	margin-bottom: 12px;
	margin-top: 4px;
}
div.PreviousNext {
	font-family: Helvetica, sans-serif;
	color: #808080;
	font-size: 10px;
	text-align: left;
	margin-left: 60px;
	margin-right: 10px;
	margin-bottom: 7px;
	margin-top: 7px;
}
div.NumberedEquation {
	margin-left: 72px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-top: 10px;
}
div.NumberedFigure {
	margin-left: 72px;
	margin-right: 145px;
	margin-bottom: 2px;
	margin-top: 10px;
}
div.NumberedTable {
	text-align: center;
	margin-left: 72px;
	margin-right: 145px;
	margin-bottom: 2px;
	margin-top: 10px;
}
div.DisplayFormula {
	margin-left: 72px;
	margin-right: 10px;
	margin-bottom: 2px;
	margin-top: 10px;
}
div.ChemicalFormula {
	margin-left: 72px;
	margin-right: 10px;
	margin-bottom: 2px;
	margin-top: 10px;
}
div.Program {
	font-family: Courier, monospaced;
	margin-left: 54px;
	margin-right: 10px;
	margin-top: 6px;
}
