div.Title {
	color: #ffffff;
	font-size: 34px;
	background: #923291;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
}
div.Subtitle {
	font-family: Helvetica, sans-serif;
	color: #ffffff;
	font-size: 18px;
	background: #33b3b3;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
}
div.Subsubtitle {
	font-family: Helvetica, sans-serif;
	font-size: 14px;
	font-style: italic;
	margin-left: 10px;
	margin-right: 4px;
	margin-bottom: 30px;
	margin-top: 10px;
}
div.Section {
	font-family: Helvetica, sans-serif;
	color: #923291;
	font-size: 16px;
	font-weight: bold;
	margin-left: 12px;
	margin-bottom: 4px;
	margin-top: 24px;
	border-width: 0px;
	border-style: solid;
	border-left-width: 6px;
	border-top-width: 1px;
}
div.Subsection {
	font-family: Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	margin-left: 12px;
	margin-bottom: 8px;
	margin-top: 20px;
}
div.Subsubsection {
	font-family: Times, serif;
	font-size: 13px;
	font-weight: bold;
	margin-left: 25px;
	margin-bottom: 8px;
	margin-top: 12px;
	display: list-item;
	list-style-type: square;
}
div.Text {
	font-family: Times, serif;
	margin-left: 12px;
	margin-right: 10px;
	margin-bottom: 5px;
	margin-top: 5px;
}
div.SmallText {
	font-family: Helvetica, sans-serif;
	font-size: 9px;
	margin-left: 12px;
	margin-right: 10px;
	margin-bottom: 5px;
	margin-top: 5px;
}
div.Input {
	font-family: Courier, monospaced;
	font-weight: bold;
	background: #ffb366;
	margin-left: 52px;
	margin-right: 10px;
	margin-bottom: 8px;
	margin-top: 8px;
	border-width: 0px;
	border-style: solid;
	border-left-width: 3px;
}
div.InlineInput {
	font-family: Courier, monospaced;
	font-weight: bold;
}
div.Output {
	font-family: Courier, monospaced;
	background: #ffe6e6;
	margin-left: 52px;
	margin-right: 10px;
	margin-bottom: 8px;
	margin-top: 8px;
	border-width: 0px;
	border-style: solid;
	border-left-width: 3px;
}
div.Author {
	font-size: 16px;
	font-style: italic;
	margin-left: 10px;
	margin-right: 4px;
	margin-bottom: 2px;
	margin-top: 10px;
}
div.Copyright {
	font-family: Helvetica, sans-serif;
	font-size: 9px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 40px;
	margin-top: 2px;
}
div.Example {
	font-family: Times, serif;
	font-weight: bold;
	margin-left: 12px;
	margin-right: 10px;
	margin-bottom: 5px;
	margin-top: 12px;
}
div.Definition {
	font-family: Helvetica, sans-serif;
	color: #ffffff;
	font-weight: bold;
	background: #33b3b3;
	margin-left: 52px;
	margin-right: 10px;
	margin-bottom: 8px;
	margin-top: 8px;
	border-width: 0px;
	border-style: solid;
	border-left-width: 3px;
}
div.Theorem {
	font-family: Helvetica, sans-serif;
	color: #ffffff;
	font-weight: bold;
	background: #923291;
	margin-left: 52px;
	margin-right: 10px;
	margin-bottom: 8px;
	margin-top: 8px;
	border-width: 0px;
	border-style: solid;
	border-left-width: 3px;
}
div.ExerciseMain {
	font-family: Helvetica, sans-serif;
	color: #923291;
	font-size: 16px;
	font-weight: bold;
	margin-left: 12px;
	margin-bottom: 4px;
	margin-top: 20px;
	border-color: #923291;
	border-width: 0px;
	border-style: solid;
	border-left-width: 6px;
	border-top-width: 1px;
}
div.Exercise {
	font-family: Times, serif;
	color: #923291;
	font-size: 13px;
	font-weight: bold;
	margin-left: 23px;
	margin-bottom: 4px;
	margin-top: 18px;
	display: list-item;
	list-style-type: square;
}
div.ExerciseText {
	font-family: Times, serif;
	margin-left: 62px;
	margin-right: 10px;
	margin-bottom: 5px;
	margin-top: 5px;
}
div.DisplayFormula {
	margin-left: 62px;
	margin-right: 10px;
	margin-bottom: 2px;
	margin-top: 10px;
}
div.ChemicalFormula {
	margin-left: 62px;
	margin-right: 10px;
	margin-bottom: 2px;
	margin-top: 10px;
}
div.Program {
	font-family: Courier, monospaced;
	margin-left: 12px;
	margin-right: 10px;
	margin-top: 6px;
}
div.NumberedEquation {
	margin-left: 62px;
	margin-right: 10px;
}
div.NumberedFigure {
	margin-left: 62px;
	margin-right: 145px;
}
div.NumberedTable {
	text-align: center;
	margin-left: 62px;
	margin-right: 145px;
}
div.PreviousNext {
	font-family: Helvetica, sans-serif;
	color: #808080;
	font-size: 10px;
	text-align: left;
	margin-left: 60px;
	margin-right: 10px;
	margin-bottom: 7px;
	margin-top: 7px;
}
