div.AddOnsLink {
	font-family: Courier, monospaced;
	color: #454f99;
}
div.AddOnsLinkText {
	font-family: Times, serif;
	color: #454f99;
}
div.BF {
	font-weight: bold;
}
div.CellExpression {
	font-family: Courier, monospaced;
	font-size: 12px;
	background: #ffffff;
	margin-left: 6px;
}
div.CellLabel {
	font-family: "Verdana";
	color: #454f99;
	font-size: 9px;
	font-weight: plain;
}
div.CopyEvaluate {
	font-family: "Lucida Grande";
	font-size: 13px;
}
div.CopyEvaluateCell {
	font-family: "Lucida Grande";
	font-size: 13px;
}
div.DemoInstruction {
	font-family: "Verdana";
	color: #8c8073;
	font-size: 11px;
	font-weight: plain;
	background: #ffffff;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 8px;
	margin-top: 0px;
	border-color: #e6d9cc;
	border-width: 0px;
	border-style: solid;
	border-left-width: 1px;
	border-top-width: 1px;
}
div.DemoInstructionText {
	font-family: "Verdana";
	font-size: 11px;
	font-weight: plain;
}
div.DemoSection {
	font-family: "Verdana";
	color: #739900;
	font-size: 16px;
	font-weight: bold;
	margin-left: 435px;
	margin-right: 42px;
	margin-bottom: 6px;
	margin-top: 42px;
}
div.DemoSectionLabel {
	font-family: "Verdana";
	color: #739900;
	font-size: 16px;
	font-weight: bold;
}
div.DemoTitle {
	font-family: "Verdana";
	color: #598000;
	font-size: 24px;
	font-weight: bold;
	background: #ffffde;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
}
div.DemonstrationHeader {
	background: #a4c140;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 30px;
	margin-top: 0px;
	border-color: #a4c140;
	border-width: 0px;
	border-style: solid;
	border-top-width: 1px;
}
div.DemosLink {
	color: #454f99;
}
div.Evaluate {
	font-family: "Lucida Grande";
	font-size: 13px;
}
div.EvaluateCell {
	font-family: "Lucida Grande";
	font-size: 13px;
}
div.Footer {
	font-family: Helvetica, sans-serif;
	font-size: 6px;
	font-style: italic;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-top: 4px;
}
div.FrameLabel {
	font-family: Helvetica, sans-serif;
	font-size: 9px;
}
div.FunctionTemplateArgument {
	font-style: italic;
}
div.FunctionTemplateHighlight {
	font-weight: bold;
}
div.GettingStartedLink {
	color: #454f99;
}
div.Graphics {
	font-family: Times, serif;
	color: #000000;
	font-size: 10px;
	font-weight: plain;
	margin-left: 89px;
	margin-right: 4px;
	margin-bottom: 4px;
	margin-top: 2px;
}
div.Header {
	font-size: 8px;
	font-style: italic;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 2px;
	margin-top: 0px;
}
div.Hyperlink {
	color: #1a1a80;
}
div.HyperlinkActive {
	color: #d27d22;
}
div.IT {
	font-style: italic;
}
div.Inert {
	background: #dee7f8;
}
div.InfoCell {
	font-family: Helvetica, sans-serif;
}
div.InfoHeading {
	color: #747474;
	font-size: 10px;
	font-weight: bold;
}
div.InformationCell {
	background: #f6edd6;
	margin-left: 20px;
}
div.InformationLink {
	color: #454f99;
}
div.InformationLinkLF {
	color: #454f99;
}
div.InlineCell {
	text-align: left;
}
div.InlineCellEditing {
	background: #f6edd6;
}
div.InlineCharacterName {
	font-family: Courier, monospaced;
}
div.InlineCode {
	font-family: Courier, monospaced;
	font-weight: plain;
	font-style: plain;
}
div.InlineFormula {
	font-family: Courier, monospaced;
}
div.InlineMath {
	font-family: Times, serif;
}
div.InlineOutput {
	font-family: Courier, monospaced;
	font-weight: bold;
	margin-left: 66px;
	margin-right: 4px;
	margin-bottom: 8px;
	margin-top: 8px;
}
div.InputForm {
	font-family: Courier, monospaced;
}
div.InputOnly {
	font-family: Courier, monospaced;
	font-weight: bold;
	margin-left: 37px;
	margin-right: 4px;
	margin-bottom: 8px;
	margin-top: 8px;
}
div.ItemizedPicture {
	margin-left: 88px;
	margin-right: 4px;
	margin-bottom: 4px;
	margin-top: 4px;
}
div.JS {
	font-family: "JFontSans";
}
div.JSB {
	font-family: "JFontSansBold";
}
div.JT {
	font-family: "JFontText";
}
div.KeyboardChars {
	font-size: 12px;
}
div.Label {
	font-family: "Verdana";
	font-size: small;
}
div.Large {
	font-size: 24px;
}
div.Link {
	color: #737373;
}
div.ListGraphic {
	margin-left: 88px;
	margin-right: 4px;
	margin-bottom: 4px;
	margin-top: 4px;
}
div.M4 {
	font-family: "Mathematica4";
}
div.MB {
	font-family: Courier, monospaced;
	font-weight: bold;
	font-style: plain;
}
div.MBO {
	font-family: Courier, monospaced;
	font-weight: bold;
	font-style: italic;
}
div.MO {
	font-family: Courier, monospaced;
	font-weight: plain;
	font-style: italic;
}
div.MR {
	font-family: Courier, monospaced;
	font-weight: plain;
	font-style: plain;
}
div.MRbig {
	font-family: Courier, monospaced;
	font-weight: plain;
	font-style: plain;
}
div.MSG {
	font-family: "Lucida Grande";
	font-size: 11px;
}
div.MainBookLink {
	color: #454f99;
}
div.MainBookLinkMR {
	font-family: Courier, monospaced;
	color: #454f99;
}
div.MasterIndexLink {
	color: #454f99;
}
div.MathCaption {
	color: #333333;
	margin-left: 66px;
	margin-right: 12px;
	margin-bottom: 2px;
	margin-top: 24px;
	border-color: #b3b3b3;
	border-width: 0px;
	border-style: solid;
	border-top-width: 1px;
}
div.Medium {
	font-size: 12px;
}
div.Message {
	font-family: Helvetica, sans-serif;
	color: #991a1a;
	font-size: 10px;
	margin-left: 89px;
	margin-right: 4px;
	margin-bottom: 4px;
	margin-top: 2px;
}
div.MessagesWindow {
	background: #f9e4dc;
}
div.Name {
	font-family: "Verdana";
	color: #454f99;
	font-size: 9px;
	font-weight: plain;
	font-style: italic;
}
div.NotationMadeBoxesTag {
	background: #e6e3ff;
}
div.NotationPatternTag {
	background: #ffe6fa;
}
div.NotationTemplateTag {
	background: #ffffd9;
}
div.NotebookLink {
	font-family: Times, serif;
	color: #454f99;
}
div.NotebookLinkMR {
	font-family: Courier, monospaced;
	color: #454f99;
}
div.Notes {
	font-family: "Verdana";
	font-size: 11px;
	font-weight: plain;
	margin-left: 50px;
	margin-right: 24px;
	margin-bottom: 9px;
	margin-top: 7px;
	display: list-item;
	list-style-type: square;
}
div.ObjectName {
	font-family: "Verdana";
	font-size: 24px;
	font-weight: bold;
	margin-left: 24px;
	margin-right: 22px;
	margin-bottom: 6px;
	margin-top: 16px;
}
div.OpenCloseItemizedPicture {
	margin-left: 88px;
	margin-right: 4px;
	margin-bottom: 4px;
	margin-top: 4px;
}
div.OtherInformationLink {
	color: #454f99;
}
div.OtherInformationLinkMR {
	font-family: Courier, monospaced;
	color: #454f99;
}
div.Output {
	font-family: Courier, monospaced;
	color: #000000;
	margin-left: 52px;
	margin-right: 4px;
	margin-bottom: 6px;
	margin-top: 4px;
}
div.OutputForm {
	font-family: Courier, monospaced;
	text-align: left;
}
div.PageFooter {
	font-family: Helvetica, sans-serif;
	font-size: 6px;
}
div.PageHeader {
	font-size: 8px;
	font-style: italic;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 2px;
	margin-top: 0px;
}
div.PageLink {
	color: #454f99;
}
div.PageNumber {
	font-family: Helvetica, sans-serif;
	font-size: 8px;
	font-weight: bold;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 2px;
	margin-top: 0px;
}
div.Paste {
	font-family: "Lucida Grande";
	font-size: 13px;
}
div.Picture {
	margin-left: 27px;
	margin-bottom: 4px;
	margin-top: 4px;
}
div.PictureGroup {
	margin-left: 41px;
	margin-right: 4px;
	margin-bottom: 0px;
	margin-top: 4px;
}
div.Placeholder {
	font-family: "Verdana";
	color: #7e7e7e;
	font-size: 9px;
	font-weight: plain;
	font-style: italic;
	background: #fff8cb;
}
div.PreviousNext {
	font-family: Helvetica, sans-serif;
	color: #808080;
	font-size: 10px;
	text-align: left;
	margin-left: 60px;
	margin-right: 10px;
	margin-bottom: 7px;
	margin-top: 7px;
}
div.PrimaryPlaceholder {
	font-style: italic;
	background: #e9e381;
}
div.Print {
	font-family: Courier, monospaced;
	margin-left: 89px;
	margin-right: 4px;
	margin-bottom: 4px;
	margin-top: 2px;
}
div.RM {
	font-weight: plain;
	font-style: plain;
}
div.ReferenceMarker {
	background: #d9d9d9;
}
div.SB {
	font-family: "Verdana";
	font-weight: bold;
	font-style: plain;
}
div.SBColor {
	font-family: "Verdana";
	font-weight: bold;
	font-style: plain;
}
div.SBO {
	font-family: "Verdana";
	font-weight: bold;
	font-style: italic;
}
div.SO {
	font-family: "Verdana";
	font-weight: plain;
	font-style: italic;
}
div.SR {
	font-family: "Verdana";
	font-weight: plain;
	font-style: plain;
}
div.Section {
	font-family: Helvetica, sans-serif;
	color: #a4c140;
	font-size: 20px;
	font-weight: bold;
	margin-left: 27px;
	margin-bottom: 8px;
	margin-top: 34px;
	border-color: #a4c140;
	border-width: 0px;
	border-style: solid;
	border-top-width: 1px;
}
div.SectionGloss {
	color: #999999;
	font-weight: plain;
}
div.ShowSource {
	font-family: Helvetica, sans-serif;
	color: #ff6b00;
	font-size: 10px;
	font-weight: bold;
	font-style: plain;
	margin-left: 48px;
	margin-right: 48px;
	margin-bottom: 8px;
	margin-top: 28px;
	border-color: #b0ca4d;
	border-width: 0px;
	border-style: solid;
	border-top-width: 1px;
}
div.SiteLink {
	color: #737373;
}
div.SlideHyperlink {
	color: #666666;
	font-size: 26px;
}
div.SlideShowNavigationBar {
	background: #cccccc;
	text-align: center;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 3px;
	margin-top: 3px;
	border-color: #999999;
	border-width: 0px;
	border-style: solid;
	border-top-width: 1px;
}
div.SlideShowPaletteButton {
	font-family: Helvetica, sans-serif;
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
}
div.SlideShowPaletteTitle {
	font-family: Helvetica, sans-serif;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	background: #005389;
	margin-left: 4px;
	margin-right: 0px;
	margin-top: 0px;
	border-width: 0px;
	border-style: solid;
	border-bottom-width: 1px;
}
div.SlideShowSection {
	font-family: Helvetica, sans-serif;
	color: #ffffff;
	font-size: 18px;
	font-weight: plain;
	background: #6870cc;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-top: 0px;
	border-width: 0px;
	border-style: solid;
	border-top-width: 1px;
}
div.SlideTOC {
	font-family: Helvetica, sans-serif;
	margin-left: 18px;
	display: list-item;
	list-style-type: square;
}
div.SlideTOCLink {
	font-family: Helvetica, sans-serif;
	margin-left: 24px;
}
div.Small {
	font-size: 9px;
}
div.Sound {
	margin-left: 27px;
	margin-bottom: 0px;
	margin-top: 8px;
}
div.StandardForm {
	font-family: Courier, monospaced;
}
div.TB {
	font-family: Times, serif;
	font-weight: bold;
	font-style: plain;
}
div.TBI {
	font-family: Times, serif;
	font-weight: bold;
	font-style: italic;
}
div.TI {
	font-family: Times, serif;
	font-weight: plain;
	font-style: italic;
}
div.TR {
	font-family: Times, serif;
	font-weight: plain;
	font-style: plain;
}
div.TableBase {
	font-family: Courier, monospaced;
	font-size: 11px;
	margin-left: 48px;
	margin-right: 48px;
	margin-bottom: 4px;
	margin-top: 4px;
}
div.TableText {
	font-family: "Verdana";
}
div.TableViewPlaceholder {
	color: #7e7e7e;
	font-size: 10px;
}
div.TemplateLink {
	color: #454f99;
}
div.Text {
	margin-left: 60px;
	margin-right: 10px;
	margin-bottom: 7px;
	margin-top: 7px;
}
div.TourLink {
	color: #454f99;
}
div.UnmatchedBracket {
	color: #c254cc;
}
div.Usage {
	font-family: "Verdana";
	font-size: 11px;
	font-weight: plain;
	background: #fffde5;
	margin-left: 24px;
	margin-right: 22px;
	margin-bottom: 12px;
	margin-top: 6px;
}
div.SnapshotCaption {
	font-family: "Verdana";
	font-size: 11.5px;
	margin-left: 48px;
	margin-right: 48px;
	margin-bottom: 12px;
	margin-top: 0px;
}
div.DetailNotes {
	font-family: "Verdana";
	font-size: 11.5px;
	margin-left: 36px;
	margin-right: 48px;
	margin-bottom: 4px;
	margin-top: 4px;
}
div.ImplementationNotes {
	font-family: "Verdana";
	font-size: 11.5px;
	margin-left: 36px;
	margin-right: 48px;
	margin-bottom: 4px;
	margin-top: 4px;
}
div.SearchTerms {
	font-family: "Verdana";
	font-size: 11.5px;
	margin-left: 36px;
	margin-right: 48px;
	margin-bottom: 4px;
	margin-top: 4px;
}
div.RelatedLinks {
	font-family: "Verdana";
	font-size: 11.5px;
	margin-left: 36px;
	margin-right: 48px;
	margin-bottom: 4px;
	margin-top: 4px;
}
div.Author {
	font-family: "Verdana";
	font-size: 11.5px;
	margin-left: 36px;
	margin-right: 48px;
	margin-bottom: 4px;
	margin-top: 4px;
}
div.DemoNotes {
	font-family: "Verdana";
	font-size: 11.5px;
	margin-left: 36px;
	margin-right: 48px;
	margin-bottom: 4px;
	margin-top: 4px;
}
div.NotesSubsection {
	font-family: "Verdana";
	color: #994d33;
	font-size: 12px;
	font-weight: bold;
	margin-left: 65px;
	margin-right: 48px;
	margin-bottom: 10px;
	margin-top: 24px;
	display: list-item;
	list-style-type: square;
}
div.Input {
	font-family: Courier, monospaced;
	font-weight: bold;
	margin-left: 52px;
	margin-right: 4px;
	margin-bottom: 3px;
	margin-top: 8px;
}
div.Code {
	font-family: Courier, monospaced;
	font-weight: bold;
	background: #ebebeb;
	margin-left: 52px;
	margin-right: 4px;
	margin-bottom: 3px;
	margin-top: 8px;
}
div.ActionMenu {
	font-family: "Lucida Grande";
	font-size: 13px;
	text-align: left;
}
div.Assert {
	font-family: "Lucida Grande";
	color: #af511b;
	font-size: 11px;
	background: #f0baa6;
	margin-left: 66px;
}
div.AuthorSection {
	font-family: "Verdana";
	color: #739900;
	font-size: 16px;
	font-weight: bold;
	margin-left: 435px;
	margin-right: 42px;
	margin-bottom: 6px;
	margin-top: 42px;
	display: list-item;
	list-style-type: square;
}
div.BookmarksSection {
	font-family: "Verdana";
	color: #739900;
	font-size: 16px;
	font-weight: bold;
	margin-left: 435px;
	margin-right: 42px;
	margin-bottom: 6px;
	margin-top: 42px;
	display: list-item;
	list-style-type: square;
}
div.Button {
	text-align: left;
}
div.CitationSection {
	font-family: Helvetica, sans-serif;
	color: #b1ca4c;
	font-size: 10px;
	font-weight: bold;
	font-style: plain;
	margin-left: 48px;
	margin-right: 48px;
	margin-bottom: 8px;
	margin-top: 14px;
	border-color: #b1ca4c;
	border-width: 0px;
	border-style: solid;
	border-top-width: 1px;
}
div.Citations {
	font-family: "Verdana";
	color: #737373;
	font-size: 10px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	border-color: #fcfcfc;
}
div.CompatibilityControls {
	font-family: "Lucida Grande";
	font-size: 10px;
	background: #ededed;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-top: 0px;
	border-width: 0px;
	border-style: solid;
	border-bottom-width: 1px;
}
div.CompatibilityDocked1 {
	font-family: Helvetica, sans-serif;
	color: #ffffff;
	font-size: 18px;
	font-weight: plain;
	background: #3e7f32;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	border-color: #cccccc;
}
div.CompatibilityDocked2 {
	background: #f6f6f6;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	border-color: #3e7f32;
	border-width: 0px;
	border-style: solid;
	border-bottom-width: 2px;
}
div.CompatibilityInput {
	font-family: Courier, monospaced;
	font-weight: bold;
	background: #f0ffcf;
	border-color: #3e7f32;
	border-width: 0px;
	border-style: solid;
	border-bottom-width: 1px;
}
div.CompatibilityInputTop {
	font-family: Times, serif;
	color: #808080;
	font-size: 10px;
	background: #f0ffcf;
	border-color: #3e7f32;
	border-width: 0px;
	border-style: solid;
	border-top-width: 1px;
}
div.CompatibilityText {
	font-family: Times, serif;
	background: #ededed;
}
div.CompatibilityTextTop {
	font-family: Times, serif;
	color: #808080;
	font-size: 10px;
	background: #ededed;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-top: 5px;
	border-color: #3e7f32;
	border-width: 0px;
	border-style: solid;
	border-top-width: 2px;
}
div.ControlStyle {
	font-family: "Lucida Grande";
	font-size: 13px;
}
div.ControlSuggestions {
	font-family: "Verdana";
	font-size: 11.5px;
	margin-left: 36px;
	margin-right: 48px;
	margin-bottom: 4px;
	margin-top: 4px;
}
div.ControlSuggestionsSection {
	font-family: "Verdana";
	color: #739900;
	font-size: 16px;
	font-weight: bold;
	margin-left: 435px;
	margin-right: 42px;
	margin-bottom: 6px;
	margin-top: 42px;
	display: list-item;
	list-style-type: square;
}
div.CoordinateTooltipLabel {
	font-family: "Lucida Grande";
	color: #000000;
	font-size: 10px;
	font-weight: plain;
	font-style: plain;
	background: #000000;
	text-align: left;
	border-color: #b2b2b2;
}
div.Copyright {
	font-family: "Verdana";
	color: #999999;
	font-size: 9px;
	margin-left: 48px;
	margin-right: 48px;
	margin-bottom: 20px;
	margin-top: 50px;
	border-color: #737373;
	border-width: 0px;
	border-style: solid;
	border-top-width: 1px;
}
div.DetailsSection {
	font-family: "Verdana";
	color: #739900;
	font-size: 16px;
	font-weight: bold;
	margin-left: 435px;
	margin-right: 42px;
	margin-bottom: 6px;
	margin-top: 120px;
	display: list-item;
	list-style-type: square;
}
div.DialogStyle {
	font-family: "Lucida Grande";
	color: #000000;
	font-size: 10px;
	font-weight: plain;
	font-style: plain;
}
div.DialogText {
	color: inherit;
}
div.DockedCell {
	background: #f6f6f6ff;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	border-color: #cccccc;
	border-width: 0px;
	border-style: solid;
	border-bottom-width: 2px;
}
div.DockedTitleCell {
	font-family: Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	background: #f6f6f6ff;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	border-color: #cccccc;
}
div.FunctionLink {
	color: #1a1a80;
}
div.GeneralizedPlaceholder {
	background: #f6f0bd;
}
div.GenericButton {
	font-family: "Lucida Grande";
	font-size: 13px;
}
div.GenericLink {
	color: #1a1a80;
}
div.Graphics3D {
	font-family: Times, serif;
	color: #000000;
	font-size: 10px;
	font-weight: plain;
	margin-left: 4px;
}
div.GuideLink {
	color: #1a1a80;
}
div.HistoryCurrentPage {
	font-weight: bold;
}
div.ImplementationSection {
	font-family: "Verdana";
	color: #739900;
	font-size: 16px;
	font-weight: bold;
	margin-left: 435px;
	margin-right: 42px;
	margin-bottom: 6px;
	margin-top: 42px;
	display: list-item;
	list-style-type: square;
}
div.InitializationSection {
	font-family: "Verdana";
	color: #739900;
	font-size: 16px;
	font-weight: bold;
	margin-left: 435px;
	margin-right: 42px;
	margin-bottom: 6px;
	margin-top: 42px;
	display: list-item;
	list-style-type: square;
}
div.InputField {
	text-align: left;
}
div.Keywords {
	font-family: "Verdana";
	font-size: 11.5px;
	margin-left: 36px;
	margin-right: 48px;
	margin-bottom: 4px;
	margin-top: 4px;
}
div.KeywordsSection {
	font-family: "Verdana";
	color: #739900;
	font-size: 16px;
	font-weight: bold;
	margin-left: 435px;
	margin-right: 42px;
	margin-bottom: 6px;
	margin-top: 42px;
	display: list-item;
	list-style-type: square;
}
div.Manipulate {
	font-weight: plain;
}
div.ManipulateCaption {
	font-family: "Verdana";
	font-size: 11.5px;
	margin-left: 36px;
	margin-right: 48px;
	margin-bottom: 4px;
	margin-top: 4px;
}
div.ManipulateCaptionSection {
	font-family: "Verdana";
	color: #739900;
	font-size: 16px;
	font-weight: bold;
	margin-left: 435px;
	margin-right: 42px;
	margin-bottom: 6px;
	margin-top: 42px;
	display: list-item;
	list-style-type: square;
}
div.ManipulateLabel {
	font-family: "Lucida Grande";
	font-size: 9px;
	font-weight: plain;
}
div.ManipulateSection {
	font-family: "Verdana";
	color: #739900;
	font-size: 16px;
	font-weight: bold;
	margin-left: 435px;
	margin-right: 42px;
	margin-bottom: 6px;
	margin-top: 72px;
	display: list-item;
	list-style-type: square;
}
div.Manipulator {
	font-family: "Lucida Grande";
	font-size: 9px;
	font-weight: plain;
}
div.Menu {
	font-family: "Lucida Grande";
}
div.MenuName {
	font-weight: bold;
}
div.MenuViewLabel {
	font-family: "Lucida Grande";
	font-size: 13px;
	text-align: left;
}
div.MessageLink {
	color: #1a1a80;
}
div.NotesSection {
	font-family: "Verdana";
	color: #739900;
	font-size: 16px;
	font-weight: bold;
	margin-left: 447px;
	margin-right: 42px;
	margin-bottom: 6px;
	margin-top: 120px;
	display: list-item;
	list-style-type: square;
}
div.OutputStub {
	font-family: Courier, monospaced;
	color: #000000;
	margin-left: 52px;
	margin-right: 4px;
	margin-bottom: 8px;
	margin-top: 2px;
}
div.PageBreak {
	background: #808080;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 1px;
	margin-top: 1px;
}
div.Panel {
	font-family: "Lucida Grande";
	color: #000000;
	font-size: 10px;
	font-weight: plain;
	font-style: plain;
	background: #f6f6f6;
}
div.PanelLabel {
	font-family: "Lucida Grande";
	color: #000000;
	font-size: 10px;
	font-weight: plain;
	font-style: plain;
	background: #000000;
}
div.PluginDockedCell {
	background: #f6f6f6ff;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	border-color: #cccccc;
	border-width: 0px;
	border-style: solid;
	border-bottom-width: 2px;
}
div.PopupMenu {
	font-family: "Lucida Grande";
	font-size: 13px;
	text-align: left;
}
div.PrintTemporary {
	font-family: Courier, monospaced;
	margin-left: 60px;
}
div.PrintUsage {
	background: #fffde5;
	border-color: #ff9900;
	border-width: 0px;
	border-style: solid;
	border-top-width: 3px;
}
div.RefGuideLink {
	color: #1a1a80;
}
div.RelatedLinksSection {
	font-family: "Verdana";
	color: #739900;
	font-size: 16px;
	font-weight: bold;
	margin-left: 435px;
	margin-right: 42px;
	margin-bottom: 6px;
	margin-top: 42px;
	display: list-item;
	list-style-type: square;
}
div.RevisionNotes {
	font-family: "Verdana";
	font-size: 11.5px;
	margin-left: 48px;
	margin-right: 48px;
	margin-bottom: 3px;
	margin-top: 3px;
}
div.RevisionSection {
	font-family: "Verdana";
	color: #739900;
	font-size: 16px;
	font-weight: bold;
	margin-left: 447px;
	margin-right: 42px;
	margin-bottom: 10px;
	margin-top: 48px;
	border-width: 0px;
	border-style: solid;
	display: list-item;
	list-style-type: square;
}
div.SearchTermsSection {
	font-family: "Verdana";
	color: #739900;
	font-size: 16px;
	font-weight: bold;
	margin-left: 435px;
	margin-right: 42px;
	margin-bottom: 6px;
	margin-top: 42px;
	display: list-item;
	list-style-type: square;
}
div.SeeAlso {
	font-family: "Verdana";
	font-size: 11.5px;
	margin-left: 36px;
	margin-right: 48px;
	margin-bottom: 4px;
	margin-top: 4px;
}
div.SeeAlsoSection {
	font-family: "Verdana";
	color: #739900;
	font-size: 16px;
	font-weight: bold;
	margin-left: 435px;
	margin-right: 42px;
	margin-bottom: 6px;
	margin-top: 42px;
	display: list-item;
	list-style-type: square;
}
div.SnapshotsSection {
	font-family: "Verdana";
	color: #739900;
	font-size: 16px;
	font-weight: bold;
	margin-left: 435px;
	margin-right: 42px;
	margin-bottom: 6px;
	margin-top: 42px;
	display: list-item;
	list-style-type: square;
}
div.StatusNotes {
	font-family: "Verdana";
	font-size: 11.5px;
	margin-left: 36px;
	margin-right: 48px;
	margin-bottom: 4px;
	margin-top: 4px;
}
div.StatusSection {
	font-family: "Verdana";
	color: #739900;
	font-size: 16px;
	font-weight: bold;
	margin-left: 435px;
	margin-right: 42px;
	margin-bottom: 6px;
	margin-top: 42px;
	display: list-item;
	list-style-type: square;
}
div.TabViewLabel {
	font-family: "Lucida Grande";
	text-align: left;
}
div.TableViewGrid {
	font-weight: plain;
}
div.TableViewLabel {
	color: #8389bb;
}
div.ThumbnailSection {
	font-family: "Verdana";
	color: #739900;
	font-size: 16px;
	font-weight: bold;
	margin-left: 435px;
	margin-right: 42px;
	margin-bottom: 6px;
	margin-top: 72px;
	display: list-item;
	list-style-type: square;
}
div.Toolbar {
	font-family: "Verdana";
	font-size: 11px;
	background: #b2d94c;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	border-color: #eeec80;
	border-width: 0px;
	border-style: solid;
	border-bottom-width: 1px;
	border-top-width: 1px;
}
div.ToolbarButton {
	font-family: "Verdana";
	font-weight: bold;
}
div.ToolbarClusterButton {
	font-family: "Verdana";
	color: #4d4d4d;
	font-weight: bold;
}
div.ToolbarDialogButton {
	font-family: "Verdana";
	color: #000000;
}
div.ToolbarLabel {
	font-family: "Verdana";
	color: #261a0d;
}
div.TooltipLabel {
	font-family: "Lucida Grande";
	color: #000000;
	font-size: 10px;
	font-weight: plain;
	font-style: plain;
	background: #000000;
	text-align: left;
	border-color: #000000;
}
div.TutorialLink {
	color: #1a1a80;
}
