div.AddOnsLink {
	font-family: Courier, monospaced;
	color: #454f99;
}
div.AddOnsLinkText {
	font-family: Times, serif;
	color: #454f99;
}
div.AwaitingFutureDesignReviewFlag {
	font-family: "Verdana";
	color: #4d4d4d;
	font-size: 10px;
	font-weight: plain;
	margin-left: 36px;
	margin-right: 12px;
}
div.BF {
	font-weight: bold;
}
div.Categorization {
	font-family: "Verdana";
	color: #808080;
	font-size: 11px;
	margin-left: 60px;
	margin-right: 80px;
	margin-bottom: 2px;
	margin-top: 2px;
}
div.CategorizationSection {
	font-family: "Verdana";
	color: #808080;
	font-size: 11px;
	font-weight: bold;
	margin-left: 36px;
	margin-right: 80px;
	margin-bottom: 2px;
	margin-top: 12px;
}
div.CellExpression {
	font-family: Courier, monospaced;
	font-size: 12px;
	background: #ffffff;
	margin-left: 6px;
}
div.CellLabel {
	font-family: Helvetica, sans-serif;
	color: #454f99;
	font-size: 9px;
}
div.Code {
	font-family: Courier, monospaced;
	font-weight: bold;
	background: #ebebeb;
	margin-left: 66px;
	margin-right: 10px;
	margin-bottom: 5px;
	margin-top: 10px;
}
div.CopyEvaluate {
	font-family: "Lucida Grande";
	font-size: 13px;
}
div.CopyEvaluateCell {
	font-family: "Lucida Grande";
	font-size: 13px;
}
div.Delimiter {
	font-family: "Verdana";
	font-size: 9px;
	font-weight: plain;
	font-style: plain;
	margin-left: 36px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-top: 4px;
}
div.DemosLink {
	color: #454f99;
}
div.DocumentStatus {
	font-family: "Verdana";
	color: #808080;
	font-size: 11px;
	margin-left: 72px;
	margin-right: 80px;
	margin-bottom: 2px;
	margin-top: 2px;
}
div.DocumentStatusSection {
	font-family: "Verdana";
	color: #808080;
	font-size: 11px;
	font-weight: bold;
	margin-left: 36px;
	margin-right: 80px;
	margin-bottom: 2px;
	margin-top: 12px;
}
div.Evaluate {
	font-family: "Lucida Grande";
	font-size: 13px;
}
div.EvaluateCell {
	font-family: "Lucida Grande";
	font-size: 13px;
}
div.ExampleDelimiter {
	font-family: "Verdana";
	font-size: 9px;
	font-weight: plain;
	font-style: plain;
	margin-left: 36px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-top: 4px;
}
div.ExampleStatus {
	font-family: "Verdana";
	color: #808080;
	font-size: 11px;
	margin-left: 72px;
	margin-right: 80px;
	margin-bottom: 2px;
	margin-top: 2px;
}
div.ExampleStatusSection {
	font-family: "Verdana";
	color: #808080;
	font-size: 11px;
	font-weight: bold;
	margin-left: 36px;
	margin-right: 80px;
	margin-bottom: 2px;
	margin-top: 12px;
}
div.ExcisedFlag {
	font-family: "Verdana";
	color: #cccccc;
	font-size: 10px;
	font-weight: plain;
	margin-left: 36px;
	margin-right: 12px;
}
div.ExcludedMaterial {
	background: #f2f2cc;
}
div.FilenameExtension {
	font-family: Courier, monospaced;
}
div.Footer {
	font-family: Helvetica, sans-serif;
	font-size: 6px;
	font-style: italic;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-top: 4px;
}
div.FrameLabel {
	font-family: Helvetica, sans-serif;
	font-size: 9px;
}
div.FunctionTemplateArgument {
	font-style: italic;
}
div.FunctionTemplateHighlight {
	font-weight: bold;
}
div.FunctionsSiteLink {
	color: #1a1a80;
}
div.FutureExample {
	background: #fff2f2;
}
div.FutureFlag {
	font-family: "Verdana";
	color: #4d4d4d;
	font-size: 10px;
	font-weight: plain;
	margin-left: 36px;
	margin-right: 12px;
}
div.GettingStartedLink {
	color: #454f99;
}
div.Graphics {
	font-family: Times, serif;
	color: #000000;
	font-size: 10px;
	font-weight: plain;
	margin-left: 4px;
}
div.Header {
	font-size: 8px;
	font-style: italic;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 2px;
	margin-top: 0px;
}
div.HiddenMaterial {
	background: #ccffe6;
}
div.History {
	font-family: "Verdana";
	color: #4d4d4d;
	font-size: 12px;
	font-weight: plain;
	margin-left: 36px;
	margin-right: 12px;
}
div.HyperlinkActive {
	color: #d27d22;
}
div.IT {
	font-style: italic;
}
div.Inert {
	background: #dee7f8;
}
div.InfoCell {
	font-family: Helvetica, sans-serif;
}
div.InfoHeading {
	color: #747474;
	font-size: 10px;
	font-weight: bold;
}
div.InformationCell {
	background: #f6edd6;
	margin-left: 20px;
}
div.InformationLink {
	color: #454f99;
}
div.InformationLinkLF {
	color: #454f99;
}
div.InlineCell {
	text-align: left;
}
div.InlineCellEditing {
	background: #f6edd6;
}
div.InlineCharacterName {
	font-family: Courier, monospaced;
}
div.InlineCode {
	font-family: Courier, monospaced;
}
div.InlineFormula {
	font-family: Courier, monospaced;
	font-size: 12px;
}
div.InlineMath {
	font-family: Times, serif;
}
div.InlineOutput {
	font-family: Courier, monospaced;
	font-weight: bold;
	margin-left: 66px;
	margin-right: 4px;
	margin-bottom: 8px;
	margin-top: 8px;
}
div.Input {
	font-family: Courier, monospaced;
	font-weight: bold;
	margin-left: 72px;
	margin-right: 4px;
	margin-bottom: 6px;
	margin-top: 8px;
}
div.InputForm {
	font-family: Courier, monospaced;
}
div.InputOnly {
	font-family: Courier, monospaced;
	font-weight: bold;
	margin-left: 72px;
	margin-right: 4px;
	margin-bottom: 6px;
	margin-top: 8px;
}
div.InternalFlag {
	font-family: "Verdana";
	color: #4d4d4d;
	font-size: 10px;
	font-weight: plain;
	margin-left: 36px;
	margin-right: 12px;
}
div.ItemizedPicture {
	margin-left: 88px;
	margin-right: 4px;
	margin-bottom: 4px;
	margin-top: 4px;
}
div.KeyboardChars {
	font-size: 12px;
}
div.Keywords {
	font-family: "Verdana";
	color: #808080;
	font-size: 11px;
	margin-left: 60px;
	margin-right: 80px;
	margin-bottom: 2px;
	margin-top: 2px;
}
div.KeywordsSection {
	font-family: "Verdana";
	color: #808080;
	font-size: 11px;
	font-weight: bold;
	margin-left: 36px;
	margin-right: 80px;
	margin-bottom: 2px;
	margin-top: 12px;
}
div.Label {
	font-family: "Verdana";
	font-size: small;
}
div.Large {
	font-size: 24px;
}
div.Link {
	color: #1a1a80;
}
div.ListGraphic {
	margin-left: 88px;
	margin-right: 4px;
	margin-bottom: 4px;
	margin-top: 4px;
}
div.MR {
	font-family: Courier, monospaced;
	font-weight: plain;
	font-style: plain;
}
div.MSG {
	font-family: "Lucida Grande";
	font-size: 11px;
}
div.MainBookLink {
	color: #454f99;
}
div.MainBookLinkMR {
	font-family: Courier, monospaced;
	color: #454f99;
}
div.MarketingMoreAbout {
	font-family: "Verdana";
	color: #cc8000;
	font-size: 11px;
	margin-left: 36px;
	margin-right: 80px;
	margin-bottom: 6px;
	margin-top: 1px;
}
div.MarketingRelatedDemonstrations {
	font-family: "Verdana";
	color: #1a99b2;
	font-size: 11px;
	margin-left: 36px;
	margin-right: 80px;
	margin-bottom: 6px;
	margin-top: 1px;
}
div.MarketingRelatedDemonstrationsSection {
	font-family: "Verdana";
	color: #1a99b2;
	font-size: 12px;
	font-weight: bold;
	margin-left: 36px;
	margin-right: 4px;
	margin-bottom: 12px;
	margin-top: 36px;
	border-color: #1a99b2;
	border-width: 0px;
	border-style: solid;
	border-top-width: 2px;
}
div.MarketingRelatedFunctions {
	font-family: "Verdana";
	color: #994ccc;
	font-size: 11px;
	margin-left: 36px;
	margin-right: 80px;
	margin-bottom: 6px;
	margin-top: 1px;
}
div.MarketingRelatedFunctionsSection {
	font-family: "Verdana";
	color: #994ccc;
	font-size: 12px;
	font-weight: bold;
	margin-left: 36px;
	margin-right: 4px;
	margin-bottom: 12px;
	margin-top: 36px;
	border-color: #994ccc;
	border-width: 0px;
	border-style: solid;
	border-top-width: 2px;
}
div.MarketingRelatedLinks {
	font-family: "Verdana";
	color: #66994c;
	font-size: 11px;
	margin-left: 36px;
	margin-right: 80px;
	margin-bottom: 6px;
	margin-top: 1px;
}
div.MarketingRelatedLinksSection {
	font-family: "Verdana";
	color: #66994c;
	font-size: 12px;
	font-weight: bold;
	margin-left: 36px;
	margin-right: 4px;
	margin-bottom: 12px;
	margin-top: 36px;
	border-color: #66994c;
	border-width: 0px;
	border-style: solid;
	border-top-width: 2px;
}
div.MarketingSeeAlso {
	font-family: "Verdana";
	color: #cc3300;
	font-size: 11px;
	margin-left: 36px;
	margin-right: 80px;
	margin-bottom: 6px;
	margin-top: 1px;
}
div.MarketingSeeAlsoSection {
	font-family: "Verdana";
	color: #cc3300;
	font-size: 12px;
	font-weight: bold;
	margin-left: 36px;
	margin-right: 4px;
	margin-bottom: 12px;
	margin-top: 36px;
	border-color: #cc3300;
	border-width: 0px;
	border-style: solid;
	border-top-width: 2px;
}
div.MarketingSubpageMoreAbout {
	font-family: "Verdana";
	color: #cca640;
	font-size: 11px;
	font-weight: plain;
	margin-left: 60px;
	margin-right: 80px;
	margin-bottom: 6px;
	margin-top: 1px;
}
div.MarketingSubpageMoreAboutSection {
	font-family: "Verdana";
	color: #cca640;
	font-size: 12px;
	font-weight: bold;
	margin-left: 60px;
	margin-right: 4px;
	margin-bottom: 12px;
	margin-top: 36px;
	border-color: #cca640;
	border-width: 0px;
	border-style: solid;
	border-top-width: 2px;
}
div.MarketingSubpageRelatedDemonstrations {
	font-family: "Verdana";
	color: #3366a6;
	font-size: 11px;
	margin-left: 60px;
	margin-right: 80px;
	margin-bottom: 6px;
	margin-top: 1px;
}
div.MarketingSubpageRelatedDemonstrationsSection {
	font-family: "Verdana";
	color: #3366a6;
	font-size: 12px;
	font-weight: bold;
	margin-left: 60px;
	margin-right: 4px;
	margin-bottom: 12px;
	margin-top: 36px;
	border-color: #3366a6;
	border-width: 0px;
	border-style: solid;
	border-top-width: 2px;
}
div.MarketingSubpageRelatedFunctions {
	font-family: "Verdana";
	color: #664cb2;
	font-size: 11px;
	margin-left: 60px;
	margin-right: 80px;
	margin-bottom: 6px;
	margin-top: 1px;
}
div.MarketingSubpageRelatedFunctionsSection {
	font-family: "Verdana";
	color: #664cb2;
	font-size: 12px;
	font-weight: bold;
	margin-left: 60px;
	margin-right: 4px;
	margin-bottom: 12px;
	margin-top: 36px;
	border-color: #664cb2;
	border-width: 0px;
	border-style: solid;
	border-top-width: 2px;
}
div.MarketingSubpageRelatedLinks {
	font-family: "Verdana";
	color: #4c6633;
	font-size: 11px;
	margin-left: 60px;
	margin-right: 80px;
	margin-bottom: 6px;
	margin-top: 1px;
}
div.MarketingSubpageRelatedLinksSection {
	font-family: "Verdana";
	color: #4c6633;
	font-size: 12px;
	font-weight: bold;
	margin-left: 60px;
	margin-right: 4px;
	margin-bottom: 12px;
	margin-top: 36px;
	border-color: #4c8033;
	border-width: 0px;
	border-style: solid;
	border-top-width: 2px;
}
div.MarketingSubpageSeeAlso {
	font-family: "Verdana";
	color: #99334c;
	font-size: 11px;
	margin-left: 60px;
	margin-right: 80px;
	margin-bottom: 6px;
	margin-top: 1px;
}
div.MarketingSubpageSeeAlsoSection {
	font-family: "Verdana";
	color: #99334c;
	font-size: 12px;
	font-weight: bold;
	margin-left: 60px;
	margin-right: 4px;
	margin-bottom: 12px;
	margin-top: 36px;
	border-color: #99334c;
	border-width: 0px;
	border-style: solid;
	border-top-width: 2px;
}
div.MasterIndexLink {
	color: #454f99;
}
div.MathCaption {
	color: #333333;
	margin-left: 66px;
	margin-right: 12px;
	margin-bottom: 2px;
	margin-top: 24px;
	border-color: #b3b3b3;
	border-width: 0px;
	border-style: solid;
	border-top-width: 1px;
}
div.MathWorldLink {
	color: #1a1a80;
}
div.Medium {
	font-size: 12px;
}
div.Message {
	font-family: "Lucida Grande";
	color: #af511b;
	font-size: 11px;
	margin-left: 72px;
	margin-right: 4px;
	margin-bottom: 4px;
	margin-top: 2px;
}
div.MessagesWindow {
	background: #f9e4dc;
}
div.NETDocLink {
	color: #1a1a80;
}
div.NKSLink {
	color: #1a1a80;
}
div.Name {
	font-family: Helvetica, sans-serif;
	color: #454f99;
	font-size: 9px;
	font-weight: plain;
	font-style: italic;
}
div.NewMaterial {
	background: #ffe6a6;
}
div.NotationMadeBoxesTag {
	background: #e6e3ff;
}
div.NotationPatternTag {
	background: #ffe6fa;
}
div.NotationTemplateTag {
	background: #ffffd9;
}
div.NotebookLink {
	font-family: Times, serif;
	color: #454f99;
}
div.NotebookLinkMR {
	font-family: Courier, monospaced;
	color: #454f99;
}
div.Notes {
	font-family: "Verdana";
	font-size: 11px;
	font-weight: plain;
	margin-left: 50px;
	margin-right: 24px;
	margin-bottom: 9px;
	margin-top: 7px;
	display: list-item;
	list-style-type: square;
}
div.ObjectName {
	font-family: "Verdana";
	font-size: 24px;
	font-weight: bold;
	margin-left: 24px;
	margin-right: 22px;
	margin-bottom: 6px;
	margin-top: 16px;
}
div.ObsoleteFlag {
	font-family: "Verdana";
	color: #4d4d4d;
	font-size: 10px;
	font-weight: plain;
	margin-left: 36px;
	margin-right: 12px;
}
div.OpenCloseItemizedPicture {
	margin-left: 88px;
	margin-right: 4px;
	margin-bottom: 4px;
	margin-top: 4px;
}
div.OtherInformationLink {
	color: #454f99;
}
div.OtherInformationLinkMR {
	font-family: Courier, monospaced;
	color: #454f99;
}
div.Output {
	font-family: Courier, monospaced;
	margin-left: 72px;
	margin-right: 4px;
	margin-bottom: 8px;
	margin-top: 6px;
}
div.OutputForm {
	font-family: Courier, monospaced;
	text-align: left;
}
div.PageFooter {
	font-family: "Verdana";
	font-size: 6px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-top: 2px;
}
div.PageHeader {
	font-family: "Verdana";
	font-size: 7px;
	font-style: italic;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 2px;
	margin-top: 0px;
}
div.PageLink {
	color: #454f99;
}
div.PageNumber {
	font-family: "Verdana";
	font-size: 7px;
	font-weight: bold;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 2px;
	margin-top: 0px;
	border-width: 0px;
	border-style: solid;
	border-left-width: 1px;
}
div.Paste {
	font-family: "Lucida Grande";
	font-size: 13px;
}
div.Picture {
	margin-left: 27px;
	margin-bottom: 4px;
	margin-top: 4px;
}
div.PictureGroup {
	margin-left: 41px;
	margin-right: 4px;
	margin-bottom: 0px;
	margin-top: 4px;
}
div.Placeholder {
	font-family: "Verdana";
	color: #7e7e7e;
	font-size: 9px;
	font-weight: plain;
	font-style: italic;
	background: #fff8cb;
}
div.PreviousNext {
	font-family: Helvetica, sans-serif;
	color: #808080;
	font-size: 10px;
	text-align: left;
	margin-left: 60px;
	margin-right: 10px;
	margin-bottom: 7px;
	margin-top: 7px;
}
div.PrimaryPlaceholder {
	font-style: italic;
	background: #e9e381;
}
div.Print {
	font-family: Courier, monospaced;
	margin-left: 72px;
	margin-right: 27px;
	margin-bottom: 4px;
	margin-top: 2px;
}
div.RM {
	font-weight: plain;
	font-style: plain;
}
div.ReferenceMarker {
	background: #d9d9d9;
}
div.SR {
	font-family: Helvetica, sans-serif;
	font-weight: plain;
	font-style: plain;
}
div.SlideHyperlink {
	color: #666666;
	font-size: 26px;
}
div.SlideShowNavigationBar {
	background: #cccccc;
	text-align: center;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 3px;
	margin-top: 3px;
	border-color: #999999;
	border-width: 0px;
	border-style: solid;
	border-top-width: 1px;
}
div.SlideShowPaletteButton {
	font-family: Helvetica, sans-serif;
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
}
div.SlideShowPaletteTitle {
	font-family: Helvetica, sans-serif;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	background: #005389;
	margin-left: 4px;
	margin-right: 0px;
	margin-top: 0px;
	border-width: 0px;
	border-style: solid;
	border-bottom-width: 1px;
}
div.SlideShowSection {
	font-family: Helvetica, sans-serif;
	color: #ffffff;
	font-size: 18px;
	font-weight: plain;
	background: #6870cc;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-top: 0px;
	border-width: 0px;
	border-style: solid;
	border-top-width: 1px;
}
div.SlideTOC {
	font-family: Helvetica, sans-serif;
	margin-left: 18px;
	display: list-item;
	list-style-type: square;
}
div.SlideTOCLink {
	font-family: Helvetica, sans-serif;
	margin-left: 24px;
}
div.Small {
	font-size: 9px;
}
div.Sound {
	margin-left: 27px;
	margin-bottom: 0px;
	margin-top: 8px;
}
div.StandardForm {
	font-family: Courier, monospaced;
}
div.SubjectToChangeFlag {
	font-family: "Verdana";
	color: #4d4d4d;
	font-size: 10px;
	font-weight: plain;
	margin-left: 36px;
	margin-right: 12px;
}
div.SuppressedMaterial {
	background: #e6ffed;
}
div.Synonyms {
	font-family: "Verdana";
	color: #808080;
	font-size: 11px;
	margin-left: 60px;
	margin-right: 80px;
	margin-bottom: 2px;
	margin-top: 2px;
}
div.SynonymsSection {
	font-family: "Verdana";
	color: #808080;
	font-size: 11px;
	font-weight: bold;
	margin-left: 36px;
	margin-right: 80px;
	margin-bottom: 2px;
	margin-top: 12px;
}
div.TR {
	font-family: Times, serif;
	font-weight: plain;
	font-style: plain;
}
div.TableViewPlaceholder {
	color: #7e7e7e;
	font-size: 10px;
}
div.TemplateLink {
	color: #454f99;
}
div.TemporaryFlag {
	font-family: "Verdana";
	color: #4d4d4d;
	font-size: 10px;
	font-weight: plain;
	margin-left: 36px;
	margin-right: 12px;
}
div.TentativeExample {
	background: #d9f2ff;
}
div.TentativeID {
	font-family: "Verdana";
	color: #1a4d66;
	font-size: 9px;
	font-weight: plain;
	background: #ffffff;
}
div.ThumbnailMaterial {
	background: #f2fffa;
}
div.TourLink {
	color: #454f99;
}
div.UnmatchedBracket {
	color: #c254cc;
}
div.Usage {
	font-family: "Verdana";
	font-size: 11px;
	font-weight: plain;
	background: #fffde5;
	margin-left: 24px;
	margin-right: 22px;
	margin-bottom: 12px;
	margin-top: 6px;
}
div.MarketingTitle {
	font-family: "Verdana";
	font-size: 18px;
	font-weight: bold;
	margin-left: 36px;
	margin-right: 12px;
	margin-bottom: 4px;
	margin-top: 50px;
	border-width: 0px;
	border-style: solid;
	border-top-width: 2px;
}
div.MarketingSubpageSection {
	font-family: "Verdana";
	color: #1a1a80;
	font-size: 15px;
	font-weight: bold;
	margin-left: 36px;
	margin-right: 4px;
	margin-bottom: 8px;
	margin-top: 36px;
	border-color: #1a1a80;
	border-width: 0px;
	border-style: solid;
	border-top-width: 2px;
}
div.MarketingContentsSection {
	font-family: "Verdana";
	color: #1a1a80;
	font-size: 12px;
	font-weight: bold;
	margin-left: 49px;
	margin-right: 4px;
	margin-bottom: 6px;
	margin-top: 24px;
	display: list-item;
	list-style-type: square;
}
div.MarketingMoreAboutSection {
	font-family: "Verdana";
	color: #cc8000;
	font-size: 12px;
	font-weight: bold;
	margin-left: 36px;
	margin-right: 4px;
	margin-bottom: 12px;
	margin-top: 36px;
	border-color: #cc8000;
	border-width: 0px;
	border-style: solid;
	border-top-width: 2px;
}
div.MarketingExampleCaption {
	font-family: "Verdana";
	font-size: 11px;
	font-weight: bold;
	margin-left: 60px;
	margin-right: 80px;
	margin-bottom: 6px;
	margin-top: 6px;
}
div.MarketingText {
	font-family: "Verdana";
	font-size: 11px;
	margin-left: 72px;
	margin-right: 80px;
	margin-bottom: 6px;
	margin-top: 6px;
}
div.MarketingExampleDetail {
	font-family: "Verdana";
	font-size: 11px;
	font-weight: plain;
	background: #ffffb2;
	margin-left: 64px;
	margin-right: 80px;
	margin-bottom: 6px;
	margin-top: 6px;
}
div.ActionMenu {
	font-family: "Lucida Grande";
	font-size: 13px;
	text-align: left;
}
div.Assert {
	font-family: "Lucida Grande";
	color: #af511b;
	font-size: 11px;
	background: #f0baa6;
	margin-left: 66px;
}
div.Button {
	text-align: left;
}
div.CompatibilityControls {
	font-family: "Lucida Grande";
	font-size: 10px;
	background: #ededed;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-top: 0px;
	border-width: 0px;
	border-style: solid;
	border-bottom-width: 1px;
}
div.CompatibilityDocked1 {
	font-family: Helvetica, sans-serif;
	color: #ffffff;
	font-size: 18px;
	font-weight: plain;
	background: #3e7f32;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	border-color: #cccccc;
}
div.CompatibilityDocked2 {
	background: #f6f6f6;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	border-color: #3e7f32;
	border-width: 0px;
	border-style: solid;
	border-bottom-width: 2px;
}
div.CompatibilityInput {
	font-family: Courier, monospaced;
	font-weight: bold;
	background: #f0ffcf;
	border-color: #3e7f32;
	border-width: 0px;
	border-style: solid;
	border-bottom-width: 1px;
}
div.CompatibilityInputTop {
	font-family: Times, serif;
	color: #808080;
	font-size: 10px;
	background: #f0ffcf;
	border-color: #3e7f32;
	border-width: 0px;
	border-style: solid;
	border-top-width: 1px;
}
div.CompatibilityText {
	font-family: Times, serif;
	background: #ededed;
}
div.CompatibilityTextTop {
	font-family: Times, serif;
	color: #808080;
	font-size: 10px;
	background: #ededed;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-top: 5px;
	border-color: #3e7f32;
	border-width: 0px;
	border-style: solid;
	border-top-width: 2px;
}
div.ControlStyle {
	font-family: "Lucida Grande";
	font-size: 13px;
}
div.CoordinateTooltipLabel {
	font-family: "Lucida Grande";
	color: #000000;
	font-size: 10px;
	font-weight: plain;
	font-style: plain;
	background: #000000;
	text-align: left;
	border-color: #b2b2b2;
}
div.DialogElementName {
	font-family: "Verdana";
	color: #594040;
	font-size: 10px;
	font-weight: bold;
}
div.DialogStyle {
	font-family: "Lucida Grande";
	color: #000000;
	font-size: 10px;
	font-weight: plain;
	font-style: plain;
}
div.DialogText {
	color: inherit;
}
div.DockedCell {
	background: #f6f6f6ff;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	border-color: #cccccc;
	border-width: 0px;
	border-style: solid;
	border-bottom-width: 2px;
}
div.DockedTitleCell {
	font-family: Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	background: #f6f6f6ff;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	border-color: #cccccc;
}
div.FunctionLink {
	color: #1a1a80;
}
div.GeneralizedPlaceholder {
	background: #f6f0bd;
}
div.GenericButton {
	font-family: "Lucida Grande";
	font-size: 13px;
}
div.GenericLink {
	color: #1a1a80;
}
div.Graphics3D {
	font-family: Times, serif;
	color: #000000;
	font-size: 10px;
	font-weight: plain;
	margin-left: 4px;
}
div.GuideLink {
	color: #1a1a80;
}
div.HistoryCurrentPage {
	font-weight: bold;
}
div.Hyperlink {
	color: #454f99;
}
div.InputField {
	text-align: left;
}
div.KeyEvent {
	font-family: "Verdana";
	color: #594040;
	font-size: 10px;
	font-weight: bold;
	background: #e6d9cc;
}
div.KeyEventDelimiter {
	color: #bf8000;
	font-size: 14px;
	font-weight: plain;
}
div.MB {
	font-family: Courier, monospaced;
	font-weight: bold;
	font-style: plain;
}
div.MBO {
	font-family: Courier, monospaced;
	font-weight: bold;
	font-style: italic;
}
div.MO {
	font-family: Courier, monospaced;
	font-weight: plain;
	font-style: italic;
}
div.Manipulate {
	font-weight: plain;
}
div.ManipulateLabel {
	font-family: "Lucida Grande";
	font-size: 9px;
	font-weight: plain;
}
div.Manipulator {
	font-family: "Lucida Grande";
	font-size: 9px;
	font-weight: plain;
}
div.MarketingThumnailSection {
	font-family: "Verdana";
	color: #1a1a80;
	font-size: 12px;
	font-weight: bold;
	margin-left: 49px;
	margin-right: 4px;
	margin-bottom: 6px;
	margin-top: 24px;
	display: list-item;
	list-style-type: square;
}
div.Menu {
	font-family: "Lucida Grande";
}
div.MenuName {
	font-family: "Verdana";
	color: #594040;
	font-size: 10px;
	font-weight: bold;
}
div.MenuNameDelimiter {
	font-family: "Verdana";
	color: #594040;
	font-size: 10px;
	font-weight: bold;
}
div.MenuViewLabel {
	font-family: "Lucida Grande";
	font-size: 13px;
	text-align: left;
}
div.MessageLink {
	color: #1a1a80;
}
div.NotebookImage {
	background: #f0f5fa;
	margin-left: 72px;
	margin-right: 12px;
	margin-bottom: 8px;
	margin-top: 2px;
}
div.PageBreak {
	background: #808080;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 1px;
	margin-top: 1px;
}
div.Panel {
	font-family: "Lucida Grande";
	color: #000000;
	font-size: 10px;
	font-weight: plain;
	font-style: plain;
	background: #f6f6f6;
}
div.PanelLabel {
	font-family: "Lucida Grande";
	color: #000000;
	font-size: 10px;
	font-weight: plain;
	font-style: plain;
	background: #000000;
}
div.PluginDockedCell {
	background: #f6f6f6ff;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	border-color: #cccccc;
	border-width: 0px;
	border-style: solid;
	border-bottom-width: 2px;
}
div.PointerEvent {
	font-family: "Verdana";
	color: #594040;
	font-size: 10px;
	font-weight: bold;
}
div.PointerEventDelimiter {
	color: #bf8000;
	font-size: 14px;
	font-weight: plain;
}
div.PopupMenu {
	font-family: "Lucida Grande";
	font-size: 13px;
	text-align: left;
}
div.PrintTemporary {
	font-family: Courier, monospaced;
	margin-left: 60px;
}
div.PrintUsage {
	background: #fffde5;
	border-color: #ff9900;
	border-width: 0px;
	border-style: solid;
	border-top-width: 3px;
}
div.RefGuideLink {
	color: #1a1a80;
}
div.SB {
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	font-style: plain;
}
div.SBO {
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	font-style: italic;
}
div.SO {
	font-family: Helvetica, sans-serif;
	font-weight: plain;
	font-style: italic;
}
div.TB {
	font-family: Times, serif;
	font-weight: bold;
	font-style: plain;
}
div.TBI {
	font-family: Times, serif;
	font-weight: bold;
	font-style: italic;
}
div.TI {
	font-family: Times, serif;
	font-weight: plain;
	font-style: italic;
}
div.TabViewLabel {
	font-family: "Lucida Grande";
	text-align: left;
}
div.TableViewGrid {
	font-weight: plain;
}
div.TableViewLabel {
	color: #8389bb;
}
div.TooltipLabel {
	font-family: "Lucida Grande";
	color: #000000;
	font-size: 10px;
	font-weight: plain;
	font-style: plain;
	background: #000000;
	text-align: left;
	border-color: #000000;
}
div.TutorialLink {
	color: #1a1a80;
}
