div.BoldTagStyle {
	font-weight: bold;
}
div.TensorIndices {
	font-size: 9px;
	font-weight: plain;
}
div.TensorArgument {
	font-weight: bold;
}
div.TensorName {
	font-weight: bold;
}
div.TensorStarStyle {
	color: #aaaaaa;
}
div.Vector {
	font-style: plain;
}
