div.All {
	background: #fff5e6;
}
div.AddOnsLink {
	font-family: Courier, monospaced;
	color: #454f99;
	background: #fff5e6;
}
div.AddOnsLinkText {
	font-family: Times, serif;
	color: #454f99;
	background: #fff5e6;
}
div.BF {
	font-weight: bold;
	background: #fff5e6;
}
div.CellExpression {
	font-family: Courier, monospaced;
	font-size: 12px;
	background: #ffffff;
	margin-left: 6px;
}
div.CellLabel {
	font-family: Helvetica, sans-serif;
	color: #990099;
	font-size: 10px;
	font-style: plain;
	background: #fff5e6;
}
div.CopyEvaluate {
	font-family: "Lucida Grande";
	font-size: 13px;
	background: #fff5e6;
}
div.CopyEvaluateCell {
	font-family: "Lucida Grande";
	font-size: 13px;
	background: #fff5e6;
}
div.DemosLink {
	color: #454f99;
	background: #fff5e6;
}
div.Evaluate {
	font-family: "Lucida Grande";
	font-size: 13px;
	background: #fff5e6;
}
div.EvaluateCell {
	font-family: "Lucida Grande";
	font-size: 13px;
	background: #fff5e6;
}
div.Footer {
	font-family: "Verdana";
	font-size: 6px;
	font-style: italic;
	background: #fff5e6;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
}
div.FooterSection {
	background: #fff5e6;
}
div.FooterSubsection {
	background: #fff5e6;
}
div.FooterTitle {
	background: #fff5e6;
}
div.FrameLabel {
	font-family: Helvetica, sans-serif;
	font-size: 9px;
	background: #fff5e6;
}
div.FunctionTemplate {
	background: #fff5e6;
}
div.FunctionTemplateArgument {
	font-style: italic;
	background: #fff5e6;
}
div.FunctionTemplateHighlight {
	font-weight: bold;
	background: #fff5e6;
}
div.GettingStartedLink {
	color: #454f99;
	background: #fff5e6;
}
div.Graphics {
	font-family: Times, serif;
	color: #000000;
	font-size: 10px;
	font-weight: plain;
	background: #d9d9d9;
	margin-left: 60px;
	margin-right: 10px;
	margin-bottom: 7px;
	margin-top: 0px;
	border-width: 0px;
	border-style: solid;
	border-left-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
}
div.Header {
	font-family: "Verdana";
	font-size: 7px;
	font-style: italic;
	background: #fff5e6;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
}
div.HeaderSection {
	background: #fff5e6;
}
div.HeaderSubsection {
	background: #fff5e6;
}
div.HeaderTitle {
	background: #fff5e6;
}
div.HideContentsInPrint {
	background: #fff5e6;
}
div.HyperlinkActive {
	color: #d27d22;
	background: #fff5e6;
}
div.IT {
	font-style: italic;
	background: #fff5e6;
}
div.Inert {
	background: #dee7f8;
}
div.InfoCell {
	font-family: Helvetica, sans-serif;
	background: #fff5e6;
}
div.InfoGrid {
	background: #fff5e6;
}
div.InfoHeading {
	color: #747474;
	font-size: 10px;
	font-weight: bold;
	background: #fff5e6;
}
div.InformationCell {
	background: #f6edd6;
	margin-left: 20px;
}
div.InformationLink {
	color: #454f99;
	background: #fff5e6;
}
div.InformationLinkLF {
	color: #454f99;
	background: #fff5e6;
}
div.InlineCell {
	background: #fff5e6;
	text-align: left;
}
div.InlineCellEditing {
	background: #f6edd6;
}
div.InlineOutput {
	font-family: Courier, monospaced;
	font-weight: bold;
	background: #fff5e6;
	margin-left: 66px;
	margin-right: 4px;
	margin-bottom: 8px;
	margin-top: 8px;
}
div.InputForm {
	font-family: Courier, monospaced;
	background: #fff5e6;
}
div.InputOnly {
	font-family: Courier, monospaced;
	font-weight: bold;
	background: #fff5e6;
	margin-left: 66px;
	margin-right: 10px;
	margin-bottom: 7px;
	margin-top: 7px;
}
div.InsetString {
	background: #fff5e6;
}
div.ItemizedPicture {
	background: #fff5e6;
	margin-left: 88px;
	margin-right: 4px;
	margin-bottom: 4px;
	margin-top: 4px;
}
div.Label {
	font-family: "Verdana";
	font-size: small;
	background: #fff5e6;
}
div.Large {
	font-size: 24px;
	background: #fff5e6;
}
div.Link {
	color: #1a1a80;
	background: #fff5e6;
}
div.ListGraphic {
	background: #fff5e6;
	margin-left: 88px;
	margin-right: 4px;
	margin-bottom: 4px;
	margin-top: 4px;
}
div.MR {
	font-family: Courier, monospaced;
	font-weight: plain;
	font-style: plain;
	background: #fff5e6;
}
div.MSG {
	font-family: "Lucida Grande";
	font-size: 11px;
	background: #fff5e6;
}
div.MainBookLink {
	color: #454f99;
	background: #fff5e6;
}
div.MainBookLinkMR {
	font-family: Courier, monospaced;
	color: #454f99;
	background: #fff5e6;
}
div.MasterIndexLink {
	color: #454f99;
	background: #fff5e6;
}
div.MathCaption {
	color: #333333;
	background: #fff5e6;
	margin-left: 66px;
	margin-right: 12px;
	margin-bottom: 2px;
	margin-top: 24px;
	border-color: #b3b3b3;
	border-width: 0px;
	border-style: solid;
	border-top-width: 1px;
}
div.Medium {
	font-size: 12px;
	background: #fff5e6;
}
div.Message {
	font-family: "Lucida Grande";
	color: #af511b;
	font-size: 11px;
	background: #fff5e6;
	margin-left: 66px;
}
div.MessagesWindow {
	background: #f9e4dc;
}
div.NotationMadeBoxesTag {
	background: #e6e3ff;
}
div.NotationPatternTag {
	background: #ffe6fa;
}
div.NotationTemplateTag {
	background: #ffffd9;
}
body {
	background: #fff5e6;
}
div.NotebookLink {
	font-family: Times, serif;
	color: #454f99;
	background: #fff5e6;
}
div.NotebookLinkMR {
	font-family: Courier, monospaced;
	color: #454f99;
	background: #fff5e6;
}
div.Notes {
	font-family: "Verdana";
	font-size: 11px;
	font-weight: plain;
	background: #fff5e6;
	margin-left: 50px;
	margin-right: 24px;
	margin-bottom: 9px;
	margin-top: 7px;
	display: list-item;
	list-style-type: square;
}
div.ObjectName {
	font-family: "Verdana";
	font-size: 24px;
	font-weight: bold;
	background: #fff5e6;
	margin-left: 24px;
	margin-right: 22px;
	margin-bottom: 6px;
	margin-top: 16px;
}
div.OpenCloseItemizedPicture {
	background: #fff5e6;
	margin-left: 88px;
	margin-right: 4px;
	margin-bottom: 4px;
	margin-top: 4px;
}
div.OtherInformationLink {
	color: #454f99;
	background: #fff5e6;
}
div.OtherInformationLinkMR {
	font-family: Courier, monospaced;
	color: #454f99;
	background: #fff5e6;
}
div.OutputForm {
	font-family: Courier, monospaced;
	background: #fff5e6;
	text-align: left;
}
div.PageLink {
	color: #454f99;
	background: #fff5e6;
}
div.PageNumber {
	font-family: "Verdana";
	font-size: 7px;
	font-weight: bold;
	background: #fff5e6;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 4px;
	margin-top: 1px;
}
div.Paste {
	font-family: "Lucida Grande";
	font-size: 13px;
	background: #fff5e6;
}
div.Picture {
	background: #fff5e6;
	margin-left: 27px;
	margin-bottom: 4px;
	margin-top: 4px;
}
div.PictureGroup {
	background: #fff5e6;
	margin-left: 41px;
	margin-right: 4px;
	margin-bottom: 0px;
	margin-top: 4px;
}
div.Placeholder {
	font-family: "Verdana";
	color: #7e7e7e;
	font-size: 9px;
	font-weight: plain;
	font-style: italic;
	background: #fff8cb;
}
div.PreviousNext {
	font-family: Helvetica, sans-serif;
	color: #808080;
	font-size: 10px;
	background: #fff5e6;
	text-align: left;
	margin-left: 60px;
	margin-right: 10px;
	margin-bottom: 7px;
	margin-top: 7px;
}
div.PrimaryPlaceholder {
	font-style: italic;
	background: #e9e381;
}
div.Print {
	font-family: Courier, monospaced;
	background: #fff5e6;
	margin-left: 60px;
}
div.RM {
	font-weight: plain;
	font-style: plain;
	background: #fff5e6;
}
div.Reference {
	background: #fff5e6;
	margin-left: 27px;
	margin-right: 20px;
	margin-bottom: 6px;
	margin-top: 6px;
}
div.ReferenceMarker {
	background: #d9d9d9;
}
div.SR {
	font-family: Helvetica, sans-serif;
	font-weight: plain;
	font-style: plain;
	background: #fff5e6;
}
div.SlideHyperlink {
	color: #666666;
	font-size: 26px;
	background: #fff5e6;
}
div.SlidePreviousNextLink {
	background: #fff5e6;
}
div.SlideShowNavigationBar {
	background: #cccccc;
	text-align: center;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 3px;
	margin-top: 3px;
	border-color: #999999;
	border-width: 0px;
	border-style: solid;
	border-top-width: 1px;
}
div.SlideShowPaletteButton {
	font-family: Helvetica, sans-serif;
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	background: #fff5e6;
}
div.SlideShowPaletteTitle {
	font-family: Helvetica, sans-serif;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	background: #005389;
	margin-left: 4px;
	margin-right: 0px;
	margin-top: 0px;
	border-width: 0px;
	border-style: solid;
	border-bottom-width: 1px;
}
div.SlideShowSection {
	font-family: Helvetica, sans-serif;
	color: #ffffff;
	font-size: 18px;
	font-weight: plain;
	background: #6870cc;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-top: 0px;
	border-width: 0px;
	border-style: solid;
	border-top-width: 1px;
}
div.SlideTOC {
	font-family: Helvetica, sans-serif;
	background: #fff5e6;
	margin-left: 18px;
	display: list-item;
	list-style-type: square;
}
div.SlideTOCLink {
	font-family: Helvetica, sans-serif;
	background: #fff5e6;
	margin-left: 24px;
}
div.Small {
	font-size: 9px;
	background: #fff5e6;
}
div.SmallText {
	font-family: Helvetica, sans-serif;
	font-size: 9px;
	background: #fff5e6;
	margin-left: 60px;
	margin-right: 10px;
	margin-bottom: 6px;
	margin-top: 6px;
}
div.Sound {
	background: #fff5e6;
	margin-left: 27px;
	margin-bottom: 0px;
	margin-top: 8px;
}
div.StandardForm {
	font-family: Courier, monospaced;
	background: #fff5e6;
}
div.Subsubsubsection {
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	font-style: oblique;
	background: #fff5e6;
	margin-left: 92px;
}
div.Subsubsubsubsection {
	font-family: Times, serif;
	font-weight: bold;
	background: #fff5e6;
	margin-left: 112px;
}
div.TR {
	font-family: Times, serif;
	font-weight: plain;
	font-style: plain;
	background: #fff5e6;
}
div.TableViewPlaceholder {
	color: #7e7e7e;
	font-size: 10px;
	background: #fff5e6;
}
div.TemplateBoxErrorDisplayArgumentStyle {
	background: #fff5e6;
}
div.TemplateBoxErrorDisplayStyle {
	background: #fff5e6;
}
div.TemplateLink {
	color: #454f99;
	background: #fff5e6;
}
div.TourLink {
	color: #454f99;
	background: #fff5e6;
}
div.TraditionalForm {
	background: #fff5e6;
}
div.UnmatchedBracket {
	color: #c254cc;
	background: #fff5e6;
}
div.Usage {
	font-family: "Verdana";
	font-size: 11px;
	font-weight: plain;
	background: #fffde5;
	margin-left: 24px;
	margin-right: 22px;
	margin-bottom: 12px;
	margin-top: 6px;
}
div.Title {
	font-family: Helvetica, sans-serif;
	color: #66003d;
	font-size: 36px;
	font-weight: bold;
	background: #fff5e6;
	margin-left: 27px;
	margin-bottom: 0px;
	margin-top: 30px;
	border-width: 0px;
	border-style: solid;
	border-top-width: 1px;
}
div.Subtitle {
	font-family: Helvetica, sans-serif;
	font-size: 24px;
	background: #fff5e6;
	margin-left: 27px;
	margin-bottom: 0px;
	margin-top: 2px;
}
div.Subsubtitle {
	font-family: Helvetica, sans-serif;
	font-size: 16px;
	background: #fff5e6;
	margin-left: 27px;
	margin-bottom: 8px;
	margin-top: 2px;
}
div.Section {
	font-family: Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	background: #fff5e6;
	margin-left: 27px;
	margin-bottom: 8px;
	margin-top: 34px;
	border-color: #66003d;
	border-width: 0px;
	border-style: solid;
	border-top-width: 3px;
}
div.Subsection {
	font-family: Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	background: #fff5e6;
	margin-left: 48px;
}
div.Subsubsection {
	font-family: Times, serif;
	font-weight: bold;
	background: #fff5e6;
	margin-left: 60px;
}
div.Text {
	background: #fff5e6;
	margin-left: 60px;
	margin-right: 10px;
	margin-bottom: 7px;
	margin-top: 7px;
}
div.Code {
	font-family: Courier, monospaced;
	font-weight: bold;
	background: #ffffff;
	margin-left: 55px;
	margin-right: 10px;
	margin-bottom: 15px;
	margin-top: 0px;
}
div.Input {
	font-family: Courier, monospaced;
	font-weight: bold;
	background: #f7f7f7;
	margin-left: 60px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-top: 7px;
	border-width: 0px;
	border-style: solid;
	border-left-width: 1px;
	border-right-width: 1px;
	border-top-width: 1px;
}
div.Output {
	font-family: Courier, monospaced;
	background: #d9d9d9;
	margin-left: 60px;
	margin-right: 10px;
	margin-bottom: 7px;
	margin-top: 0px;
	border-width: 0px;
	border-style: solid;
	border-left-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
}
div.Item {
	background: #fff5e6;
	margin-left: 75px;
	margin-right: 10px;
	margin-bottom: 4px;
	margin-top: 4px;
	display: list-item;
	list-style-type: circle;
}
div.ItemParagraph {
	background: #fff5e6;
	margin-left: 75px;
	margin-right: 10px;
	margin-bottom: 4px;
	margin-top: 1px;
}
div.Subitem {
	background: #fff5e6;
	margin-left: 99px;
	margin-right: 12px;
	margin-bottom: 4px;
	margin-top: 4px;
	display: list-item;
	list-style-type: circle;
}
div.SubitemParagraph {
	background: #fff5e6;
	margin-left: 99px;
	margin-right: 12px;
	margin-bottom: 4px;
	margin-top: 1px;
}
div.ItemNumbered {
	background: #fff5e6;
	margin-left: 75px;
	margin-right: 10px;
	margin-bottom: 4px;
	margin-top: 4px;
	display: list-item;
	list-style-type: square;
}
div.SubitemNumbered {
	background: #fff5e6;
	margin-left: 99px;
	margin-right: 12px;
	margin-bottom: 4px;
	margin-top: 4px;
	display: list-item;
	list-style-type: square;
}
div.InlineFormula {
	background: #fff5e6;
	margin-left: 10px;
	margin-right: 4px;
	margin-bottom: 0px;
	margin-top: 8px;
}
div.DisplayFormula {
	font-family: Courier, monospaced;
	background: #fff5e6;
	margin-left: 60px;
}
div.DisplayFormulaNumbered {
	font-family: Courier, monospaced;
	background: #fff5e6;
	margin-left: 60px;
}
div.Program {
	font-family: Courier, monospaced;
	background: #fff5e6;
	margin-left: 60px;
	margin-right: 4px;
	margin-bottom: 0px;
	margin-top: 8px;
	border-width: 0px;
	border-style: solid;
	border-bottom-width: 1px;
	border-top-width: 1px;
}
div.Author {
	font-family: Helvetica, sans-serif;
	font-size: 14px;
	font-style: italic;
	background: #fff5e6;
	margin-left: 27px;
	margin-right: 30px;
	margin-bottom: 20px;
	margin-top: 5px;
}
div.Department {
	font-family: Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	background: #fff5e6;
	margin-left: 27px;
	margin-right: 12px;
	margin-bottom: 2px;
	margin-top: 2px;
}
div.Date {
	font-family: Helvetica, sans-serif;
	color: #000000;
	font-size: 11px;
	background: #fff5e6;
	margin-left: 27px;
	margin-right: 12px;
	margin-bottom: 28px;
	margin-top: 2px;
}
div.Abs {
	background: #fff5e6;
}
div.Abstract {
	font-family: Times, serif;
	font-size: 12px;
	background: #fff5e6;
	margin-left: 27px;
	margin-right: 140px;
	margin-bottom: 20px;
	margin-top: 20px;
	border-width: 0px;
	border-style: solid;
	border-bottom-width: 1px;
	border-top-width: 1px;
}
div.ActionMenu {
	font-family: "Lucida Grande";
	font-size: 13px;
	background: #fff5e6;
	text-align: left;
}
div.AiryAi {
	background: #fff5e6;
}
div.AiryAiPrime {
	background: #fff5e6;
}
div.AiryBi {
	background: #fff5e6;
}
div.AiryBiPrime {
	background: #fff5e6;
}
div.AngerJ {
	background: #fff5e6;
}
div.AngerJ2 {
	background: #fff5e6;
}
div.AppellF1 {
	background: #fff5e6;
}
div.ArithmeticGeometricMean {
	background: #fff5e6;
}
div.Assert {
	font-family: "Lucida Grande";
	color: #af511b;
	font-size: 11px;
	background: #f0baa6;
	margin-left: 66px;
}
div.BarnesG {
	background: #fff5e6;
}
div.BellB {
	background: #fff5e6;
}
div.BellB2 {
	background: #fff5e6;
}
div.BernoulliB {
	background: #fff5e6;
}
div.BernoulliB2 {
	background: #fff5e6;
}
div.BesselI {
	background: #fff5e6;
}
div.BesselJ {
	background: #fff5e6;
}
div.BesselJZero {
	background: #fff5e6;
}
div.BesselK {
	background: #fff5e6;
}
div.BesselY {
	background: #fff5e6;
}
div.BesselYZero {
	background: #fff5e6;
}
div.Beta {
	background: #fff5e6;
}
div.Beta3 {
	background: #fff5e6;
}
div.Beta4 {
	background: #fff5e6;
}
div.BetaRegularized {
	background: #fff5e6;
}
div.BetaRegularized4 {
	background: #fff5e6;
}
div.Binomial {
	background: #fff5e6;
}
div.Button {
	background: #fff5e6;
	text-align: left;
}
div.CarmichaelLambda {
	background: #fff5e6;
}
div.CatalanNumber {
	background: #fff5e6;
}
div.Ceiling {
	background: #fff5e6;
}
div.ChampernowneNumber {
	background: #fff5e6;
}
div.Column {
	background: #fff5e6;
}
div.CompatibilityControls {
	font-family: "Lucida Grande";
	font-size: 10px;
	background: #ededed;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-top: 0px;
	border-width: 0px;
	border-style: solid;
	border-bottom-width: 1px;
}
div.CompatibilityDocked1 {
	font-family: Helvetica, sans-serif;
	color: #ffffff;
	font-size: 18px;
	font-weight: plain;
	background: #3e7f32;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	border-color: #cccccc;
}
div.CompatibilityDocked2 {
	background: #f6f6f6;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	border-color: #3e7f32;
	border-width: 0px;
	border-style: solid;
	border-bottom-width: 2px;
}
div.CompatibilityInput {
	font-family: Courier, monospaced;
	font-weight: bold;
	background: #f0ffcf;
	border-color: #3e7f32;
	border-width: 0px;
	border-style: solid;
	border-bottom-width: 1px;
}
div.CompatibilityInputTop {
	font-family: Times, serif;
	color: #808080;
	font-size: 10px;
	background: #f0ffcf;
	border-color: #3e7f32;
	border-width: 0px;
	border-style: solid;
	border-top-width: 1px;
}
div.CompatibilityText {
	font-family: Times, serif;
	background: #ededed;
}
div.CompatibilityTextTop {
	font-family: Times, serif;
	color: #808080;
	font-size: 10px;
	background: #ededed;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-top: 5px;
	border-color: #3e7f32;
	border-width: 0px;
	border-style: solid;
	border-top-width: 2px;
}
div.Conjugate {
	background: #fff5e6;
}
div.ConjugateTranspose {
	background: #fff5e6;
}
div.ControlStyle {
	font-family: "Lucida Grande";
	font-size: 13px;
	background: #fff5e6;
}
div.CoordinateTooltipLabel {
	font-family: "Lucida Grande";
	color: #000000;
	font-size: 10px;
	font-weight: plain;
	font-style: plain;
	background: #000000;
	text-align: left;
	border-color: #b2b2b2;
}
div.CosIntegral {
	background: #fff5e6;
}
div.CoshIntegral {
	background: #fff5e6;
}
div.Cyclotomic {
	background: #fff5e6;
}
div.DawsonF {
	background: #fff5e6;
}
div.DedekindEta {
	background: #fff5e6;
}
div.Det {
	background: #fff5e6;
}
div.DialogStyle {
	font-family: "Lucida Grande";
	color: #000000;
	font-size: 10px;
	font-weight: plain;
	font-style: plain;
	background: #fff5e6;
}
div.DialogText {
	color: inherit;
	background: #fff5e6;
}
div.DifferenceDelta2 {
	background: #fff5e6;
}
div.DifferenceDelta3 {
	background: #fff5e6;
}
div.DifferenceDelta4 {
	background: #fff5e6;
}
div.DiracDeltaSeq {
	background: #fff5e6;
}
div.DiscreteDeltaSeq {
	background: #fff5e6;
}
div.DiscreteRatio2 {
	background: #fff5e6;
}
div.DiscreteRatio3 {
	background: #fff5e6;
}
div.DiscreteRatio4 {
	background: #fff5e6;
}
div.DiscreteShift2 {
	background: #fff5e6;
}
div.DiscreteShift3 {
	background: #fff5e6;
}
div.DiscreteShift4 {
	background: #fff5e6;
}
div.DivisorSigma {
	background: #fff5e6;
}
div.DockedCell {
	background: #f6f6f6ff;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	border-color: #cccccc;
	border-width: 0px;
	border-style: solid;
	border-bottom-width: 2px;
}
div.DockedTitleCell {
	font-family: Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	background: #f6f6f6ff;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	border-color: #cccccc;
}
div.EllipticE {
	background: #fff5e6;
}
div.EllipticE2 {
	background: #fff5e6;
}
div.EllipticF {
	background: #fff5e6;
}
div.EllipticK {
	background: #fff5e6;
}
div.EllipticNomeQ {
	background: #fff5e6;
}
div.EllipticPi {
	background: #fff5e6;
}
div.EllipticPi3 {
	background: #fff5e6;
}
div.EllipticTheta {
	background: #fff5e6;
}
div.EllipticThetaPrime {
	background: #fff5e6;
}
div.EulerE {
	background: #fff5e6;
}
div.EulerE2 {
	background: #fff5e6;
}
div.EulerPhi {
	background: #fff5e6;
}
div.ExpIntegralE {
	background: #fff5e6;
}
div.ExpIntegralEi {
	background: #fff5e6;
}
div.FactorialPower {
	background: #fff5e6;
}
div.FactorialPower3 {
	background: #fff5e6;
}
div.Fibonacci {
	background: #fff5e6;
}
div.Fibonacci2 {
	background: #fff5e6;
}
div.Floor {
	background: #fff5e6;
}
div.FresnelC {
	background: #fff5e6;
}
div.FresnelS {
	background: #fff5e6;
}
div.FunctionLink {
	color: #1a1a80;
	background: #fff5e6;
}
div.Gamma {
	background: #fff5e6;
}
div.Gamma2 {
	background: #fff5e6;
}
div.Gamma3 {
	background: #fff5e6;
}
div.GammaRegularized {
	background: #fff5e6;
}
div.GammaRegularized3 {
	background: #fff5e6;
}
div.GeneralizedPlaceholder {
	background: #f6f0bd;
}
div.GenericButton {
	font-family: "Lucida Grande";
	font-size: 13px;
	background: #fff5e6;
}
div.GenericLink {
	color: #1a1a80;
	background: #fff5e6;
}
div.Graphics3D {
	font-family: Times, serif;
	color: #000000;
	font-size: 10px;
	font-weight: plain;
	background: #fff5e6;
	margin-left: 4px;
}
div.Grid {
	background: #fff5e6;
}
div.Gudermannian {
	background: #fff5e6;
}
div.GuideLink {
	color: #1a1a80;
	background: #fff5e6;
}
div.HankelH1 {
	background: #fff5e6;
}
div.HankelH2 {
	background: #fff5e6;
}
div.HarmonicNumber {
	background: #fff5e6;
}
div.HarmonicNumber2 {
	background: #fff5e6;
}
div.Haversine {
	background: #fff5e6;
}
div.HeavisideLambdaSeq {
	background: #fff5e6;
}
div.HeavisidePiSeq {
	background: #fff5e6;
}
div.HeavisideThetaSeq {
	background: #fff5e6;
}
div.HistoryCurrentPage {
	font-weight: bold;
	background: #fff5e6;
}
div.HistoryNextPage {
	background: #fff5e6;
}
div.HistoryPreviousPage {
	background: #fff5e6;
}
div.HurwitzLerchPhi {
	background: #fff5e6;
}
div.HurwitzZeta {
	background: #fff5e6;
}
div.Hypergeometric0F1 {
	background: #fff5e6;
}
div.Hypergeometric0F1Regularized {
	background: #fff5e6;
}
div.Hypergeometric1F1 {
	background: #fff5e6;
}
div.Hypergeometric1F1Regularized {
	background: #fff5e6;
}
div.Hypergeometric2F1 {
	background: #fff5e6;
}
div.Hypergeometric2F1Regularized {
	background: #fff5e6;
}
div.HypergeometricU {
	background: #fff5e6;
}
div.Hyperlink {
	color: #454f99;
	background: #fff5e6;
}
div.ImageGraphics {
	background: #fff5e6;
}
div.InputField {
	background: #fff5e6;
	text-align: left;
}
div.Inverse {
	background: #fff5e6;
}
div.InverseBetaRegularized {
	background: #fff5e6;
}
div.InverseBetaRegularized4 {
	background: #fff5e6;
}
div.InverseEllipticNomeQ {
	background: #fff5e6;
}
div.InverseGammaRegularized {
	background: #fff5e6;
}
div.InverseGammaRegularized3 {
	background: #fff5e6;
}
div.InverseGudermannian {
	background: #fff5e6;
}
div.InverseHaversine {
	background: #fff5e6;
}
div.InverseJacobiCD {
	background: #fff5e6;
}
div.InverseJacobiCN {
	background: #fff5e6;
}
div.InverseJacobiCS {
	background: #fff5e6;
}
div.InverseJacobiDC {
	background: #fff5e6;
}
div.InverseJacobiDN {
	background: #fff5e6;
}
div.InverseJacobiDS {
	background: #fff5e6;
}
div.InverseJacobiNC {
	background: #fff5e6;
}
div.InverseJacobiND {
	background: #fff5e6;
}
div.InverseJacobiNS {
	background: #fff5e6;
}
div.InverseJacobiSC {
	background: #fff5e6;
}
div.InverseJacobiSD {
	background: #fff5e6;
}
div.InverseJacobiSN {
	background: #fff5e6;
}
div.InverseWeierstrassP {
	background: #fff5e6;
}
div.InverseWeierstrassP4 {
	background: #fff5e6;
}
div.JacobiAmplitude {
	background: #fff5e6;
}
div.JacobiCD {
	background: #fff5e6;
}
div.JacobiCN {
	background: #fff5e6;
}
div.JacobiCS {
	background: #fff5e6;
}
div.JacobiDC {
	background: #fff5e6;
}
div.JacobiDN {
	background: #fff5e6;
}
div.JacobiDS {
	background: #fff5e6;
}
div.JacobiNC {
	background: #fff5e6;
}
div.JacobiND {
	background: #fff5e6;
}
div.JacobiNS {
	background: #fff5e6;
}
div.JacobiSC {
	background: #fff5e6;
}
div.JacobiSD {
	background: #fff5e6;
}
div.JacobiSN {
	background: #fff5e6;
}
div.JacobiSymbol {
	background: #fff5e6;
}
div.JacobiZeta {
	background: #fff5e6;
}
div.KelvinBei {
	background: #fff5e6;
}
div.KelvinBei2 {
	background: #fff5e6;
}
div.KelvinBer {
	background: #fff5e6;
}
div.KelvinBer2 {
	background: #fff5e6;
}
div.KelvinKei {
	background: #fff5e6;
}
div.KelvinKei2 {
	background: #fff5e6;
}
div.KelvinKer {
	background: #fff5e6;
}
div.KelvinKer2 {
	background: #fff5e6;
}
div.KleinInvariantJ {
	background: #fff5e6;
}
div.KroneckerDeltaSeq {
	background: #fff5e6;
}
div.KroneckerSymbol {
	background: #fff5e6;
}
div.LegendreP {
	background: #fff5e6;
}
div.LegendreP3 {
	background: #fff5e6;
}
div.LegendreP4 {
	background: #fff5e6;
}
div.LegendreQ {
	background: #fff5e6;
}
div.LegendreQ3 {
	background: #fff5e6;
}
div.LegendreQ4 {
	background: #fff5e6;
}
div.LerchPhi {
	background: #fff5e6;
}
div.LiouvilleLambda {
	background: #fff5e6;
}
div.LocatorPane {
	background: #fff5e6;
}
div.LogGamma {
	background: #fff5e6;
}
div.LogIntegral {
	background: #fff5e6;
}
div.LucasL {
	background: #fff5e6;
}
div.LucasL2 {
	background: #fff5e6;
}
div.MB {
	font-family: Courier, monospaced;
	font-weight: bold;
	font-style: plain;
	background: #fff5e6;
}
div.MBO {
	font-family: Courier, monospaced;
	font-weight: bold;
	font-style: italic;
	background: #fff5e6;
}
div.MO {
	font-family: Courier, monospaced;
	font-weight: plain;
	font-style: italic;
	background: #fff5e6;
}
div.MangoldtLambda {
	background: #fff5e6;
}
div.Manipulate {
	font-weight: plain;
	background: #fff5e6;
}
div.ManipulateLabel {
	font-family: "Lucida Grande";
	font-size: 9px;
	font-weight: plain;
	background: #fff5e6;
}
div.Manipulator {
	font-family: "Lucida Grande";
	font-size: 9px;
	font-weight: plain;
	background: #fff5e6;
}
div.MathieuCharacteristicA {
	background: #fff5e6;
}
div.MathieuCharacteristicB {
	background: #fff5e6;
}
div.Menu {
	font-family: "Lucida Grande";
	background: #fff5e6;
}
div.MenuViewLabel {
	font-family: "Lucida Grande";
	font-size: 13px;
	background: #fff5e6;
	text-align: left;
}
div.MessageLink {
	color: #1a1a80;
	background: #fff5e6;
}
div.MixedFraction {
	background: #fff5e6;
}
div.Mod {
	background: #fff5e6;
}
div.ModularLambda {
	background: #fff5e6;
}
div.MoebiusMu {
	background: #fff5e6;
}
div.NevilleThetaC {
	background: #fff5e6;
}
div.NevilleThetaD {
	background: #fff5e6;
}
div.NevilleThetaN {
	background: #fff5e6;
}
div.NevilleThetaS {
	background: #fff5e6;
}
div.NorlundB {
	background: #fff5e6;
}
div.NorlundB3 {
	background: #fff5e6;
}
div.Norm {
	background: #fff5e6;
}
div.Norm2 {
	background: #fff5e6;
}
div.PageBreak {
	background: #808080;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 1px;
	margin-top: 1px;
}
div.Pane {
	background: #fff5e6;
}
div.PaneSelector {
	background: #fff5e6;
}
div.Panel {
	font-family: "Lucida Grande";
	color: #000000;
	font-size: 10px;
	font-weight: plain;
	font-style: plain;
	background: #f6f6f6;
}
div.PanelLabel {
	font-family: "Lucida Grande";
	color: #000000;
	font-size: 10px;
	font-weight: plain;
	font-style: plain;
	background: #000000;
}
div.ParabolicCylinderD {
	background: #fff5e6;
}
div.PartitionsP {
	background: #fff5e6;
}
div.PartitionsQ {
	background: #fff5e6;
}
div.PluginDockedCell {
	background: #f6f6f6ff;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	border-color: #cccccc;
	border-width: 0px;
	border-style: solid;
	border-bottom-width: 2px;
}
div.Pochhammer {
	background: #fff5e6;
}
div.PolyGamma {
	background: #fff5e6;
}
div.PolyGamma2 {
	background: #fff5e6;
}
div.PolyLog {
	background: #fff5e6;
}
div.PolyLog3 {
	background: #fff5e6;
}
div.PolynomialMod {
	background: #fff5e6;
}
div.PopupMenu {
	font-family: "Lucida Grande";
	font-size: 13px;
	background: #fff5e6;
	text-align: left;
}
div.PowerMod {
	background: #fff5e6;
}
div.Prime {
	background: #fff5e6;
}
div.PrimeNu {
	background: #fff5e6;
}
div.PrimeOmega {
	background: #fff5e6;
}
div.PrimePi {
	background: #fff5e6;
}
div.PrimeZetaP {
	background: #fff5e6;
}
div.PrintTemporary {
	font-family: Courier, monospaced;
	background: #fff5e6;
	margin-left: 60px;
}
div.PrintUsage {
	background: #fffde5;
	border-color: #ff9900;
	border-width: 0px;
	border-style: solid;
	border-top-width: 3px;
}
div.QBinomial {
	background: #fff5e6;
}
div.QFactorial {
	background: #fff5e6;
}
div.QGamma {
	background: #fff5e6;
}
div.QHypergeometricPFQSeq {
	background: #fff5e6;
}
div.QPochhammer {
	background: #fff5e6;
}
div.QPochhammer1 {
	background: #fff5e6;
}
div.QPochhammer2 {
	background: #fff5e6;
}
div.QPolyGamma {
	background: #fff5e6;
}
div.QPolyGamma3 {
	background: #fff5e6;
}
div.RamanujanTau {
	background: #fff5e6;
}
div.RefGuideLink {
	color: #1a1a80;
	background: #fff5e6;
}
div.Residue {
	background: #fff5e6;
}
div.RiemannR {
	background: #fff5e6;
}
div.RiemannSiegelTheta {
	background: #fff5e6;
}
div.RiemannSiegelZ {
	background: #fff5e6;
}
div.SB {
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	font-style: plain;
	background: #fff5e6;
}
div.SBO {
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	font-style: italic;
	background: #fff5e6;
}
div.SO {
	font-family: Helvetica, sans-serif;
	font-weight: plain;
	font-style: italic;
	background: #fff5e6;
}
div.SinIntegral {
	background: #fff5e6;
}
div.SinhIntegral {
	background: #fff5e6;
}
div.SphericalBesselJ {
	background: #fff5e6;
}
div.SphericalBesselY {
	background: #fff5e6;
}
div.SphericalHankelH1 {
	background: #fff5e6;
}
div.SphericalHankelH2 {
	background: #fff5e6;
}
div.SpheroidalEigenvalue {
	background: #fff5e6;
}
div.SpheroidalPS {
	background: #fff5e6;
}
div.SpheroidalPSPrime {
	background: #fff5e6;
}
div.SpheroidalQS {
	background: #fff5e6;
}
div.SpheroidalQSPrime {
	background: #fff5e6;
}
div.SpheroidalS1 {
	background: #fff5e6;
}
div.SpheroidalS1Prime {
	background: #fff5e6;
}
div.SpheroidalS2 {
	background: #fff5e6;
}
div.SpheroidalS2Prime {
	background: #fff5e6;
}
div.SquaresR {
	background: #fff5e6;
}
div.StieltjesGamma {
	background: #fff5e6;
}
div.StieltjesGamma2 {
	background: #fff5e6;
}
div.StirlingS1 {
	background: #fff5e6;
}
div.StirlingS2 {
	background: #fff5e6;
}
div.StruveH {
	background: #fff5e6;
}
div.StruveL {
	background: #fff5e6;
}
div.Subsubitem {
	background: #fff5e6;
	margin-left: 123px;
	margin-right: 12px;
	margin-bottom: 4px;
	margin-top: 4px;
	display: list-item;
	list-style-type: circle;
}
div.SubsubitemNumbered {
	background: #fff5e6;
	margin-left: 123px;
	margin-right: 12px;
	margin-bottom: 4px;
	margin-top: 4px;
	display: list-item;
	list-style-type: square;
}
div.SubsubitemParagraph {
	background: #fff5e6;
	margin-left: 123px;
	margin-right: 12px;
	margin-bottom: 4px;
	margin-top: 1px;
}
div.Superscript {
	background: #fff5e6;
}
div.TB {
	font-family: Times, serif;
	font-weight: bold;
	font-style: plain;
	background: #fff5e6;
}
div.TBI {
	font-family: Times, serif;
	font-weight: bold;
	font-style: italic;
	background: #fff5e6;
}
div.TI {
	font-family: Times, serif;
	font-weight: plain;
	font-style: italic;
	background: #fff5e6;
}
div.TabView {
	background: #fff5e6;
}
div.TabViewLabel {
	font-family: "Lucida Grande";
	background: #fff5e6;
	text-align: left;
}
div.TableViewGrid {
	font-weight: plain;
	background: #fff5e6;
}
div.TableViewItem {
	background: #fff5e6;
}
div.TableViewItem2 {
	background: #fff5e6;
}
div.TableViewItemExpression {
	background: #fff5e6;
}
div.TableViewItemExpression2 {
	background: #fff5e6;
}
div.TableViewLabel {
	color: #8389bb;
	background: #fff5e6;
}
div.TableViewStringBoxes {
	background: #fff5e6;
}
div.TextForm {
	background: #fff5e6;
}
div.TextStyling {
	background: #fff5e6;
}
div.TooltipLabel {
	font-family: "Lucida Grande";
	color: #000000;
	font-size: 10px;
	font-weight: plain;
	font-style: plain;
	background: #000000;
	text-align: left;
	border-color: #000000;
}
div.Transpose {
	background: #fff5e6;
}
div.TutorialLink {
	color: #1a1a80;
	background: #fff5e6;
}
div.UnitBoxSeq {
	background: #fff5e6;
}
div.UnitStepSeq {
	background: #fff5e6;
}
div.UnitTriangleSeq {
	background: #fff5e6;
}
div.WeberE {
	background: #fff5e6;
}
div.WeberE2 {
	background: #fff5e6;
}
div.WeierstrassP {
	background: #fff5e6;
}
div.WeierstrassPPrime {
	background: #fff5e6;
}
div.WeierstrassSigma {
	background: #fff5e6;
}
div.WeierstrassZeta {
	background: #fff5e6;
}
div.WhittakerM {
	background: #fff5e6;
}
div.WhittakerW {
	background: #fff5e6;
}
div.Zeta {
	background: #fff5e6;
}
div.Zeta2 {
	background: #fff5e6;
}
div.ZetaZero {
	background: #fff5e6;
}
body {
	background: #fff5e6;
}
