div.Title {
	font-family: Helvetica, sans-serif;
	color: #cb1200;
	font-size: 36px;
	font-weight: bold;
	margin-left: 27px;
	margin-bottom: 10px;
	margin-top: 30px;
}
div.Subtitle {
	font-family: Helvetica, sans-serif;
	font-size: 24px;
	margin-left: 60px;
	margin-bottom: 20px;
	margin-top: 15px;
}
div.Subsubtitle {
	font-family: Helvetica, sans-serif;
	font-size: 16px;
	margin-left: 27px;
	margin-bottom: 8px;
	margin-top: 2px;
}
div.Section {
	font-family: Helvetica, sans-serif;
	color: #0049be;
	font-size: 20px;
	font-weight: bold;
	margin-left: 27px;
	margin-bottom: 8px;
	margin-top: 34px;
}
div.Subsection {
	font-family: Helvetica, sans-serif;
	color: #544ea8;
	font-size: 16px;
	font-weight: bold;
	margin-left: 60px;
	margin-bottom: 8px;
	margin-top: 12px;
}
div.Subsubsection {
	font-family: Helvetica, sans-serif;
	color: #008bc7;
	font-weight: bold;
	margin-left: 60px;
	margin-bottom: 2px;
	margin-top: 12px;
}
div.Text {
	font-family: Helvetica, sans-serif;
	margin-left: 60px;
	margin-right: 10px;
	margin-bottom: 7px;
	margin-top: 7px;
}
div.SmallText {
	font-family: Helvetica, sans-serif;
	font-size: 9px;
	margin-left: 60px;
	margin-right: 10px;
	margin-bottom: 6px;
	margin-top: 6px;
}
div.Author {
	font-family: Times, serif;
	font-size: 24px;
	font-style: italic;
	margin-left: 90px;
	margin-right: 27px;
	margin-bottom: 2px;
	margin-top: 20px;
}
div.Affiliation {
	font-family: Times, serif;
	font-size: 24px;
	font-style: italic;
	margin-left: 90px;
	margin-right: 27px;
	margin-bottom: 30px;
	margin-top: 12px;
}
div.ConferenceGraphicCell {
	background: #ffffff;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
}
div.GraphicNoMagnification {
	font-family: Helvetica, sans-serif;
	margin-left: 60px;
	margin-right: 10px;
	margin-bottom: 7px;
	margin-top: 7px;
}
div.Input {
	font-family: Courier, monospaced;
	font-weight: bold;
	margin-left: 66px;
	margin-right: 10px;
	margin-bottom: 5px;
	margin-top: 7px;
}
div.InputOnly {
	font-family: Courier, monospaced;
	font-weight: bold;
	margin-left: 66px;
	margin-right: 10px;
	margin-bottom: 7px;
	margin-top: 7px;
}
div.Output {
	font-family: Courier, monospaced;
	margin-left: 66px;
	margin-right: 10px;
	margin-bottom: 7px;
	margin-top: 5px;
}
div.BulletedList {
	font-family: Helvetica, sans-serif;
	margin-left: 45px;
	margin-right: 10px;
	margin-bottom: 7px;
	margin-top: 7px;
}
div.CellExpression {
	font-family: Courier, monospaced;
	font-size: 16px;
	font-style: plain;
}
