html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

@font-face{
	font-family: Poppins;
	src:url("./poppins/Poppins-Bold.ttf")
}

@font-face {
	font-family: Poppins Regular;
	src: url("./poppins/Poppins-Regular.ttf")
}

/* div.picker {
  width: 50%;
  height: 60px;
  float:left;
  background-color: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
} */

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}


@import "compass/css3";

.alertify,
.alertify-show,
.alertify-log {
  -webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
     -moz-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
      -ms-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
       -o-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
          transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */
}
.alertify-hide {
  -webkit-transition: all 250ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
     -moz-transition: all 250ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
      -ms-transition: all 250ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
       -o-transition: all 250ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
          transition: all 250ms cubic-bezier(0.600, -0.280, 0.735, 0.045); /* easeInBack */
}
.alertify-log-hide {
  -webkit-transition: all 500ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
     -moz-transition: all 500ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
      -ms-transition: all 500ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
       -o-transition: all 500ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
          transition: all 500ms cubic-bezier(0.600, -0.280, 0.735, 0.045); /* easeInBack */
}
.alertify-cover {
  position: fixed; z-index: 99999;
  top: 0; right: 0; bottom: 0; left: 0;
  background-color:white;
  filter:alpha(opacity=0);
  opacity:0;
}
  .alertify-cover-hidden {
    display: none;
  }
.alertify {
  position: fixed; z-index: 99999;
  top: 50px; left: 50%;
  width: 550px;
  margin-left: -275px;
  opacity: 1;
}
  .alertify-hidden {
    -webkit-transform: translate(0,-150px);
       -moz-transform: translate(0,-150px);
        -ms-transform: translate(0,-150px);
         -o-transform: translate(0,-150px);
            transform: translate(0,-150px);
    opacity: 0;
    display: none;
  }
  /* overwrite display: none; for everything except IE6-8 */
  :root *> .alertify-hidden {
    display: block;
    visibility: hidden;
  }
.alertify-logs {
  position: fixed;
  z-index: 5000;
  bottom: 10px;
  right: 10px;
  width: 300px;
}
.alertify-logs-hidden {
  display: none;
}
  .alertify-log {
    display: block;
    margin-top: 10px;
    position: relative;
    right: -300px;
    opacity: 0;
  }
  .alertify-log-show {
    right: 0;
    opacity: 1;
  }
  .alertify-log-hide {
    -webkit-transform: translate(300px, 0);
       -moz-transform: translate(300px, 0);
        -ms-transform: translate(300px, 0);
         -o-transform: translate(300px, 0);
            transform: translate(300px, 0);
    opacity: 0;
  }
  .alertify-dialog {
    padding: 25px;
  }
    .alertify-resetFocus {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    .alertify-inner {
      text-align: center;
    }
    .alertify-text {
      margin-bottom: 15px;
      width: 100%;
      -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box;
      font-size: 100%;
    }
    .alertify-buttons {
    }
      .alertify-button,
      .alertify-button:hover,
      .alertify-button:active,
      .alertify-button:visited {
        background: none;
        text-decoration: none;
        border: none;
        /* line-height and font-size for input button */
        line-height: 1.5;
        font-size: 100%;
        display: inline-block;
        cursor: pointer;
        margin-left: 5px;
      }

@media only screen and (max-width: 680px) {
  .alertify,
  .alertify-logs {
    width: 90%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  .alertify {
    left: 5%;
    margin: 0;
  }
}






/**
 * Default Look and Feel
 */
.alertify,
.alertify-log {
  font-family: sans-serif;
}
.alertify {
  background: #FFF;
  border: 10px solid #333; /* browsers that don't support rgba */
  border: 10px solid rgba(0,0,0,.7);
  border-radius: 8px;
  box-shadow: 0 3px 3px rgba(0,0,0,.3);
  -webkit-background-clip: padding;     /* Safari 4? Chrome 6? */
     -moz-background-clip: padding;     /* Firefox 3.6 */
          background-clip: padding-box; /* Firefox 4, Safari 5, Opera 10, IE 9 */
}
  .alertify-text {
    border: 1px solid #CCC;
    padding: 10px;
    border-radius: 4px;
  }
  .alertify-button {
    border-radius: 4px;
    color: #FFF;
    font-weight: bold;
    padding: 6px 15px;
    text-decoration: none;
    text-shadow: 1px 1px 0 rgba(0,0,0,.5);
    box-shadow: inset 0 1px 0 0 rgba(255,255,255,.5);
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
    background-image:    -moz-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
    background-image:     -ms-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
    background-image:      -o-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
    background-image:         linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
  }
  .alertify-button:hover,
  .alertify-button:focus {
    outline: none;
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,.1), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(top, rgba(0,0,0,.1), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(top, rgba(0,0,0,.1), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(top, rgba(0,0,0,.1), rgba(0,0,0,0));
    background-image:         linear-gradient(top, rgba(0,0,0,.1), rgba(0,0,0,0));
  }
  .alertify-button:focus {
    box-shadow: 0 0 15px #2B72D5;
  }
  .alertify-button:active {
    position: relative;
    box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  }
    .alertify-button-cancel,
    .alertify-button-cancel:hover,
    .alertify-button-cancel:focus {
      background-color: #FE1A00;
      border: 1px solid #D83526;
    }
    .alertify-button-ok,
    .alertify-button-ok:hover,
    .alertify-button-ok:focus {
      background-color: #6600FF;
      border: 1px solid #3B7808;
    }

.alertify-log {
  background: #1F1F1F;
  background: rgba(0,0,0,.9);
  padding: 15px;
  border-radius: 4px;
  color: #FFF;
  font-family: Poppins regular;
  text-shadow: -1px -1px 0 rgba(0,0,0,.5);
}
  .alertify-log-error {
    background: #FE1A00;
    background: rgba(254,26,0,.9);
  }
  .alertify-log-success {
    background: #6600FF;
  }




#summarizingPart{
  font-family: Poppins;
}
div.viewer {
  width: 100%;
  overflow: hidden;
  z-index: -1;
  height: 100%;
  top: 0px;
/*  margin-top: 20px;*/
}

#bookmark_icon{
  top: 64px;
  left: 25px;
}

#bookmark_select_page{
  z-index: 9999 !important;
   z-index: 9999 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  position:absolute !important;
  left:65px;
  top:180px;
}

div.summarizer {
  /* width: 50%;
  height: 60px;
  float: right; */
  /* background-color: #222222; */
  z-index: 9999 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  position:absolute !important;
  font-family: Poppins;
  top: 88%;
  left: 4%;
}
div.summarizer_loading {
  /* width: 50%;
  height: 60px;
  float: right; */
  /* background-color: #222222; */
  z-index: 9999 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  position:absolute !important;
  top: calc(50% - 85px);
  left: calc(50% - 40px);
  display: none;
}
div.viewer iframe {
  width: 100%;
  height: 100%;
}

.sk-cube-grid {
  width: 80px;
  height: 80px;
  margin: 5px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #6600ff;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }


.buttonHighlight {
  border-radius: 4px;
  background-image: linear-gradient(to right, #6600ff,#0099ff) ;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 15px 32px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 4px 2px;
  border-radius: 12px;
  display: inline-block;
}

.buttonHighlight span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttonHighlight span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buttonHighlight:hover span {
  padding-right: 25px;
}

.buttonHighlight:hover span:after {
  opacity: 1;
  right: 0;
}
/*.button{
  text-decoration: none;
  display: inline-block;
}*/

/* / Popup box BEGIN / */
.hover_bkgr_fricc{
    background:rgba(0,0,0,.4);
    cursor:pointer;
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:10000;
    overflow: scroll;
}
.hover_bkgr_fricc .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.hover_bkgr_fricc > div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 1400px;
    min-height: 700px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 10px;
    border: 20px solid #6600ff;
    padding: 15px 5%;
}
.popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.popupCloseButton:hover {
    background-color: #ccc;
}
.trigger_popup_fricc {
    cursor: pointer;
    font-size: 20px;
    margin: 20px;
    display: inline-block;
    font-weight: bold;
}
/* / Popup box BEGIN / */

/* //cape search dropdown */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}
.lds-ellipsis {
  display: none;
  position: absolute;
  left:calc(90% - 50px);
  margin-top: 22px;
  z-index: 100000;
}
.lds-ellipsis div {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}




.lds-ellipsis div:nth-child(1) {
  left: 6px;
  background-color: #a2a2a2;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  background-color: #a2a2a2;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 24px;
  background-color: #a2a2a2;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 42px;
  background-color: #a2a2a2;
  animation: lds-ellipsis3 0.6s infinite;
}

/*****************************
  Dropdown for search bar
*****************************/

.dropdown {
  position: relative;
  display: inline-block;
}


.dropdown-content {
  display: none;
  opacity: 0;
  margin-top: 15px;
  padding-top: 28px;
  left:0px;
  position: absolute;
  background-color: white;
  width: calc(88% + 21.8px);
  /* overflow: auto; */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: -99999;
  /* overflow: scroll; */
  border-radius:0px 0px 20px 20px;
  transition: all .25s ease-in-out;
}

.dropdownactive {
  opacity: 1;
  transform: translateY(12px);
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

/* //.help */
.square {
  height: 50px;
  width: 200px;
  background-color: #555;
}


#triangle-bottomright {
  width: 0;
  height: 0;
  border-bottom: 15px solid white;
  border-left: 15px solid transparent;
  margin-top: -15px;
  margin-left: calc(100% - 15px);
}

#triangle-bottomleft {
  width: 0;
  height: 0;
  border-bottom: 15px solid white;
  border-right: 15px solid transparent;
  margin-top: -15px;
}

.help_popup{
  background:rgba(0,0,0,.4);
  cursor:pointer;
  display:none;
  height:100%;
  position:fixed;
  text-align:center;
  top:0;
  width:100%;
  z-index:10000;
  overflow: scroll;
}
.help_popup .helper{
  display:inline-block;
  height:100%;
  vertical-align:middle;
}
.help_popup > div {
  background-color: #fff;
  box-shadow: 10px 10px 60px #555;
  display: inline-block;
  height: auto;
  max-width: 1400px;
  min-height: 700px;
  vertical-align: middle;
  width: 60%;
  position: relative;
  border-radius: 20px;
  border: 10px solid #6600ff;
  padding: 15px 5%;
}

/*summarizing input popup*/
.su_popup{
  background:rgba(0,0,0,.4);
  cursor:pointer;
  display:none;
  height:100%;
  position:fixed;
  text-align:center;
  top:0;
  width:100%;
  z-index:10000;
  overflow: scroll;
}
.su_popup .helper{
  display:inline-block;
  height:100%;
  vertical-align:middle;
}
.su_popup > div {
  background-color: #fff;
  box-shadow: 10px 10px 60px #555;
  display: inline-block;
  height: auto;
  max-width: 400px;
  min-height: 400px;
  vertical-align: middle;
  width: 60%;
  position: relative;
  border-radius: 20px;
  border: 10px solid #6600ff;
  padding: 15px 5%;
}