body{
	background-color: #f7f8f9;
}

@font-face{
	font-family: Poppins;
	src:url("../../public/css/poppins/Poppins-Bold.ttf")
}

.topnav {
	/* background-color: #4038ff; */
	background-image: linear-gradient( to right, #6600ff,#0099ff);
	overflow: hidden;
	height: 80px;
/*	box-shadow: 0 0 0 5px #5340BD, 0 0 0 10px #4A55C8, 0 0 0 15px #3773D1, 0 0 0 20px #2C8DD2;*/
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
/* Style the links inside the navigation bar */
.topnav a {
	margin-left: 40px;
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 25px 16px;
	text-decoration: none;
	font-family: Poppins;
	/* font-family: "Poppins", sans-serif; */
	font-weight: 400;
	text-decoration: none;
	letter-spacing: 1.2px;
	font-size: 17px;
	margin-top: 5px;
}
	
.topnav-centered{
	position: fixed;
	left: 43%;
	letter-spacing: 1.2px;
	margin-top: 8px;
}
  
/* Change the color of links on hover */
.topnav a:hover {
/* background-color: #4038ff; */
	color: black;
}
	
#currentPage{
	color: white;
	/* margin-left: 30px;
	margin-top: 4px; */
	width: 35px;
	background-color:transparent;
	border: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: white;
	opacity: 1; /* Firefox */
}

	input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

#totalPage{
	/* margin-left: 10px; */
	color: white;
	/* margin-top: 4px; */
	width: 35px;
	background-color:transparent;
	border: none;
}
  
  /* Add a color to the active/current link */
  /* .topnav a.active {
    background-color: #4CAF50;
    color: white;
  } */

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
    border: none;
    font-size: 17px;
	}
	
.book_section{
	padding: 12px;
}
.pdf-canvas-first{
	height:280px;
	width: 200px;
	text-align: center;
	position: relative;
	background-color: #ffffff; 
	border-radius: 5%;
}
.pdf-canvas {
	height:280px;
	width: 200px;
	text-align: center;
	position: relative;
	background-color: #ffffff; 
	border-radius: 5%;
}

.plusImage {
	max-height: 100%;
	max-width: 100%;
	width: auto;
	height: auto;
	position: absolute;
	left: 100px;
	top: 140px;
	margin: auto;
	opacity: 0.6;
  }
.plusImage:hover {
    /* background-color: #4038ff; */
	color: black;
	opacity: 1;
  }
.plus{
	padding: 40px;
}
.minusImage {
	max-height: 100%;
	max-width: 100%;
	width: auto;
	height: auto;
	position: absolute;
	left: 180px;
	top: 8px;
	margin: auto;
	opacity: 0.6;
}
.minusImage:hover {
	color: black;
	opacity: 1;
}




/* html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
  } */
  
  div.picker {
	width: 100%;
	height: 40px;
  
	background-color: #222222;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  div.viewer {
	width: 50%;
	height: calc(100% - 40px);
	background-color: #f7f8f9;
  }
  
  div.viewer iframe {
	width: 50%;
	height: 100%;
	}
	
	#file-to-upload {
		display: none;
	}

	/* pdfview css */

	div.picker {
		width: 50%;
		height: 40px;
	
		background-color: #222222;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	div.summarize {
		width: 50%;
		height: 40px;
	
		background-color: #222222;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	div.viewer {
		width: 100%;
		height: calc(100% - 40px);
	}
	
	div.viewer iframe {
		width: 100%;
		height: 100%;
	}


/* //.help */
.help_popup{
  background:rgba(0,0,0,.4);
  cursor:pointer;
  display:none;
  height:100%;
  position:fixed;
  text-align:center;
  top:0;
  width:100%;
  z-index:10000;
  overflow: scroll;
}
.help_popup .helper{
  display:inline-block;
  height:100%;
  vertical-align:middle;
}
.help_popup > div {
  background-color: #fff;
  box-shadow: 10px 10px 60px #555;
  display: inline-block;
  height: auto;
  max-width: 1400px;
  min-height: 700px;
  vertical-align: middle;
  width: 60%;
  position: relative;
  border-radius: 10px;
  border: 20px solid #6600ff;
  padding: 15px 5%;
}




	/* Add a black background color to the top navigation */

	