<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cdf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>NotebookPlayer.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/plain</string>
				<string>application/vnd.wolfram.cdf</string>
				<string>application/vnd.wolfram.cdf.text</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Computable Document Format</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.wolfram.cdf</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>nb</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Notebook.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/plain</string>
				<string>application/vnd.wolfram.nb</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Wolfram Notebook</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.wolfram.notebook</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>nbp</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>NotebookPlayer.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/plain</string>
				<string>application/vnd.wolfram.player</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Wolfram Player Notebook</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.wolfram.notebook.player</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tr</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Notebook.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/plain</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Mathematica Text Resource</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.wolfram.textresource</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Notebook.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/octet-stream</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Mathematica Kernel Resource</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.wolfram.kernelresource</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>WolframPlayer</string>
	<key>CFBundleGetInfoString</key>
	<string>Wolfram Player 12.0.0 [6237921]  Copyright 1988-2019 Wolfram Research, Inc.</string>
	<key>CFBundleIconFile</key>
	<string>WolframPlayer.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.wolfram.Mathematica.Player</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Wolfram Player</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>12.0.0.6237921</string>
	<key>CFBundleSignature</key>
	<string>OMEG</string>
	<key>CFBundleVersion</key>
	<string>12.0</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.10</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Computable Document Format</string>
			<key>UTTypeIconFile</key>
			<string>NotebookPlayer.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.wolfram.cdf.text</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.wolfram.com/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cdf</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Computable Document Format</string>
			<key>UTTypeIconFile</key>
			<string>NotebookPlayer.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.wolfram.cdf</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.wolfram.com/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cdf</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Wolfram Mathematica Notebook</string>
			<key>UTTypeIconFile</key>
			<string>Notebook.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.wolfram.notebook</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.wolfram.com/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>nb</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Wolfram Player Notebook</string>
			<key>UTTypeIconFile</key>
			<string>NotebookPlayer.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.wolfram.notebook.player</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.wolfram.com/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>nbp</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Mathematica Text Resource</string>
			<key>UTTypeIconFile</key>
			<string>Notebook.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.wolfram.textresource</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.wolfram.com/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>tr</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Mathematica Kernel Resource</string>
			<key>UTTypeIconFile</key>
			<string>Notebook.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.wolfram.kernelresource</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.wolfram.com/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mx</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>ATSApplicationFontsPath</key>
	<string>../SystemFiles/Fonts/TrueType</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
