<wolfram:get path="Templates/Clean.html">
  <wolfram:slot id="Content">
    <wolfram:with requestData='Replace[Quiet[HTTPRequestData[#]], _HTTPRequestData :> #2] &'>
      <wolfram:get path="Templates/Includes/Title.html"/>
      <form action="`FormAction`" method='<* Replace[#FormMethod, Automatic|_Missing|None|Null -> "GET"] *>' class="has-feedback form-default" enctype="multipart/form-data" autocomplete="off">  
        <div class="panel panel-default panel-main panel-form">
          <div class="panel-heading text-center">
            <h4 class="text-muted">
              Wolfram Cloud | 
              <span class="text-info">API Web <wolfram:if test='! MatchQ[#StatusCode, 200|_Missing]'>Error</wolfram:if> Report</span>
            </h4>
            <wolfram:if test='MatchQ[#requestData["PathString", None], _String]'>
              <div class="text-center small text-muted">
                API method URL: <wolfram:expr>#requestData["PathString", "/"]</wolfram:expr>
              </div>
            </wolfram:if>
          </div>
          <div class="panel-body">
            <label class="text-info">GET parameters:</label>
            <code class="text-muted well well-sm small" style="white-space:pre-wrap;display:block"><wolfram:expr inserter="Composition[ToString, InputForm]">#requestData["Query", {}]</wolfram:expr></code>
            
            <wolfram:if test='#requestData["Method", "GET"] =!= "GET"'>
              <label class="text-info"><wolfram:expr>#requestData["Method", "GET"]</wolfram:expr> parameters:</label>
              <code class="text-muted well well-sm small" style="white-space:pre-wrap;display:block"><wolfram:expr inserter="Composition[ToString, InputForm]">#requestData["FormRules", {}]</wolfram:expr></code>          
            </wolfram:if>

            <label class="text-info">Parameters:</label>
            <table id='api-parameters' class='table table-striped table-bordered'>
              <thead>
                <tr class='table_header_row'>
                  <th>Name</th>
                  <th>Type</th>
                  <th>Help</th>
                  <th>Default</th>
                </tr>
              </thead>
              <tbody>
                <wolfram:which>
                  <wolfram:if test='Length[First@#FormObject] === 0'>
                    <!-- special row for no parameters required -->
                    <tr class='table_body_row'>
                      <td class='noparameters' colspan='4'>
                        (no parameters required)
                      </td>
                    </tr>
                  </wolfram:if>
                  <wolfram:else>
                    <!-- rows that actually list parameters -->
                    <wolfram:sequence values='Values @ #FormObject[All, {"Key", "Interpreter", "Help", "Default"}]'>
                      <tr class='table_body_row'>
                        <td>
                          <wolfram:expr>#Key</wolfram:expr>
                        </td>
                        <td>
                          <wolfram:expr>#Interpreter</wolfram:expr>
                        </td>
                        <td>
                          <wolfram:expr>Replace[#Help, a_Annotation :> First[a]]</wolfram:expr>
                        </td>
                        <td>
                          <wolfram:expr>#Default</wolfram:expr>
                        </td>
                      </tr><!-- /.table_body_row -->
                    </wolfram:sequence>
                  </wolfram:else>
                </wolfram:which>
              </tbody>
            </table>

            <wolfram:if test="! MatchQ[#FormObject, _Missing]">
              <label class="text-info">Form:</label>
              <wolfram:expr>#FormObject</wolfram:expr>              
            </wolfram:if>

          </div>
          <div class="panel-footer text-right">
            <button type="submit" class="btn btn-info form-submit" autocomplete="off">
              <wolfram:slot id="FormSubmitLabel">Re-send API Request</wolfram:slot>
            </button>
          </div>
        </div>
      </form>
    </wolfram:with>
  </wolfram:slot>
</wolfram:get>