<wolfram:get path="Templates/Clean.html">
  <wolfram:slot id="Content">
    <wolfram:get path="Templates/Includes/Title.html"/>
    <wolfram:which>
      <wolfram:if test='#FormKind == "ConversationPage"'>
        <form action="`FormAction`" method='<* Replace[#FormMethod, Automatic|_Missing|None|Null -> "POST"] *>' class="has-feedback form-default" enctype="multipart/form-data" autocomplete="off" data-image-formatting-width="true">   
        <div class='panel panel-default panel-main panel-conversation'>
          <div class="panel-body">
            <wolfram:slot id="Expression"/>
          </div>
        </div>
      </form>        
      </wolfram:if>
      <wolfram:if test='MatchQ[#Layout, _Missing]'>
        <form action="`FormAction`" method='<* Replace[#FormMethod, Automatic|_Missing|None|Null -> "POST"] *>' class="has-feedback form-default" enctype="multipart/form-data" autocomplete="off" data-image-formatting-width="true">   
        <div class='panel panel-default panel-main panel-form'>
          <div class="panel-body">
            <wolfram:slot id="Expression"/>
          </div>
          <wolfram:if test="Not @ MatchQ[#FormSubmitLabel, _Missing|None]">
            <div class="panel-footer text-right">
              <button type="submit" class="btn btn-primary form-submit" autocomplete="off">
                <wolfram:slot id="FormSubmitLabel">Submit</wolfram:slot>
              </button>
            </div>
          </wolfram:if>
        </div>
      </form>
      </wolfram:if>
      <wolfram:else>
        <div class="form-page">
        <wolfram:sequence values='Forms`doLayout[
          #Layout, 
          ! #Result === Null, {
            {{"Form",   Templating`ToHTML @ #Expression}}, 
            {{"Result", Templating`ToHTML @ #Result}}, 
            {{"Button", Templating`ToHTML @ #FormSubmitLabel}}
            }, 
            {{"Form"|"Button", _}}, 
            Join,
            Function[{{"Other", Templating`ToHTML[#]}}]
          ]'>
           
          <div class="panel panel-default panel-main panel-form">
            <wolfram:sequence values="{##}">
              <wolfram:which>
                <wolfram:if test='#1 === "Button"'>
                  <div class="panel-footer text-right">
                    <button type="submit" class="btn btn-primary form-submit" autocomplete="off" onclick='if ($(this).closest(".panel").find("form").length > 0) {$(this).closest(".panel").find("form").submit()} else {$(this).closest(".form-page").find("form").submit()};return false'>
                      <wolfram:slot id="2" inserter="Identity">Submit</wolfram:slot>
                    </button>
                  </div>
                </wolfram:if>
                <wolfram:if test='#1 === "Result" && #Result === Null'>
                  <div class='panel-body text-center'>
                    <p class="help-error message">Invalid form</p>
                  </div>
                </wolfram:if>
                <wolfram:if test='MatchQ[#1, "Other"|"Result"]'>
                  <div class='panel-body text-center'>
                    <wolfram:slot id="2" inserter="Identity"></wolfram:slot>
                  </div>
                </wolfram:if>
                <wolfram:else>
                  <form action="`FormAction`" method='<* Replace[#FormMethod, Automatic|_Missing|None|Null -> "POST"] *>' class="has-feedback form-default" enctype="multipart/form-data" autocomplete="off" data-image-formatting-width="true"> 
                    <div class='panel-body'> 
                      <wolfram:slot id="2" inserter="Identity"></wolfram:slot>
                    </div>
                  </form>
                </wolfram:else>
              </wolfram:which>
            </wolfram:sequence>
          </div>

        </wolfram:sequence>
        </div>
      </wolfram:else>
    </wolfram:which>    
  </wolfram:slot>
</wolfram:get>
