<wolfram:get path="Templates/Clean.html">
  <wolfram:slot id="Content">
    <form action="`FormAction`" method='<* Replace[#FormMethod, Automatic|_Missing|None|Null -> "GET"] *>' class="has-feedback form-default gallery-view" enctype="multipart/form-data" autocomplete="off" data-image-formatting-width="true">   

      <wolfram:if test='! MatchQ[#Title, _Missing]'>
      
        <h1>`Title`</h1>
        
      </wolfram:if>
      
        <wolfram:if test='! MatchQ[#Description, _Missing]'>
          <p class="text form-description lead">`Description`</p>
        </wolfram:if>

        <wolfram:sequence values="#ElementList">
          <div class="row text-center">
              <wolfram:sequence values="{##}">
                <div class="col-sm-<* 12 / #ColSize *>">
                  <* #["Content"] *>
                  <wolfram:if test='! MatchQ[#["Title"], _Missing]'>
                    <h5><* #["Title"] *></h5>
                  </wolfram:if>
                  <p><* #["Description"] *></p>
                </div>
              </wolfram:sequence>
          </div>
        </wolfram:sequence>

    </form>


      <wolfram:if test="#PageCount > 1">
      <nav class="gallery-pagination">
        <ul>
          <wolfram:which>
            <wolfram:if test="#PageNumber <= 1">
              <li class="prev disabled"><span>&lsaquo; Previous</span></li>
            </wolfram:if>
            <wolfram:else>
              <li class="prev"><a href="?<* #PageFunction[#PageNumber - 1] *>">&lsaquo; Previous</a></li>
            </wolfram:else>
          </wolfram:which>
          <wolfram:sequence values="#PrettyPages">
            
            <wolfram:which>
              <wolfram:if test="# === #PageNumber">
                <li class="active"><a>`1`</a></li>
              </wolfram:if>
              <wolfram:if test="MatchQ[#, _Integer]">
                <li><a href="?<* #PageFunction[#1] *>">`1`</a></li>
              </wolfram:if>
              <wolfram:else>
                <li><span>``</span></li>
              </wolfram:else>
            </wolfram:which>

          </wolfram:sequence>
          <wolfram:which>
            <wolfram:if test="#PageNumber < #PageCount">
              <li class="next"><a href="?<* #PageFunction[#PageNumber + 1] *>">Next &rsaquo;</a></li>
            </wolfram:if>
            <wolfram:else>
              <li class="next disabled"><span>Next &rsaquo;</span></li>
            </wolfram:else>
          </wolfram:which>
        </ul>
        <wolfram:if test="#PageCount > 20">
          <form method="GET">
            <label for="id_page_nav">Go to page</label>
            <input type="text" class="form-control input-sm ignore-focus ignore-smartfield" value="`PageNumber`" name="page"/>
          </form> 
        </wolfram:if>
      </nav>
      </wolfram:if>
    
  </wolfram:slot>
</wolfram:get>