<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">

<dict>
	<key>CFBundleName</key>
	<string>J/Link</string>
	<key>CFBundleIdentifier</key>
	<string>com.wolfram.jlink.JLinkBundle</string>
	<key>CFBundleVersion</key>
	<string>4.9.1</string>
	<key>CFBundleDisplayName</key>
	<string>J/Link</string>
	<key>CFBundleAllowMixedLocalizations</key>
	<string>true</string>
	<key>CFBundleExecutable</key>
	<string>Launcher</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>4.9.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleGetInfoString</key>
	<string>J/Link version 4.9.1, Copyright 2019 Wolfram Research, Inc.</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIconFile</key>
	<string>GenericJavaApp.icns</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright 2019 Wolfram Research, Inc., All Rights Reserved.</string>
	<!-- Seen this as a partial fix for blurriness on Retina displays. Might become moot in Java 1.7.0_40 and later. -->
	<key>NSHighResolutionCapable</key>
    <string>True</string>
    
	<!-- This keeps the JLink app from having a dock icon and menu bar. -->
    <key>NSUIElement</key>
    <string>1</string>
    <!-- Like NSUIElement above, but used in OSX 10.5.7 and later. -->
    <key>LSUIElement</key>
    <string>1</string>
	
	<!--  ------------  Keys specific to Oracle's Java7 JavaAppLauncher  ------------  -->
	<key>JVMMainClassName</key>
	<string>com.wolfram.jlink.Install</string>
	<!-- If this key is missing, or has the value "bundled", we will use the JRE bundled in the Mathematica layout.
     If the value is "system", we will use the default Java 7, located in /Library/Internet Plug-Ins/JavaAppletPlugin.plugin.
     To pick your own JRE, set the value to be the path to the top directory (e.g., the jdk_1.7.0.jdk dir, or the one that has a Contents/jre subdir).
 	-->
	<key>JVMRuntime</key>
	<string>bundled</string>

	<key>JVMOptions</key>
	<array>
	<string>-Djava.class.path=$APP_ROOT/../JLink.jar</string>
	<string>-Djava.system.class.loader=com.wolfram.jlink.JLinkSystemClassLoader</string>
	</array>

	<key>JVMArguments</key>
	<array>
	</array>
	
	<!--  ------------  Keys specific to Apple's Java6 JavaAppLauncher  -------------  -->
	<key>Java</key>
	<dict>
		<key>VMOptions</key>
		<string>-Xmx256m</string>
		<key>MainClass</key>
		<string>com.wolfram.jlink.Install</string>
		<key>JVMVersion</key>
		<string>1.4+</string>
		<key>ClassPath</key>
		<string>$APP_PACKAGE/../JLink.jar:$JAVAROOT/JLink.jar</string>
		<key>Properties</key>
		<dict>
			<key>com.apple.mrj.application.live-resize</key>
			<string>true</string>
			<key>com.apple.hwaccel</key>
			<string>true</string>
            <key>apple.awt.window.position.forceSafeProgrammaticPositioning</key>
            <string>false</string>
            <key>java.system.class.loader</key>
            <string>com.wolfram.jlink.JLinkSystemClassLoader</string>
        </dict>
	</dict>
	
</dict>
</plist>
